/* SIR SOFT 지운아빠 Dec 2012 */

/* 초기화 */
html {overflow-y:scroll}
body {background:#dfe4e6;font-size:1em}
html, body, h1, h2, h3, h4, h5, h6 {margin:0;padding:0}
article,aside,details,figcaption,figure, footer,header,hgroup,menu,nav,section {display:block}
header ul, nav ul {margin:0;padding:0;list-style:none}
table {border-collapse:collapse;border-spacing:0} tfoot td {font-weight:bold;text-align:center}
form, img {border:0}
input,img {vertical-align:middle}
p {margin:10px 0;line-height:1.5em}

/* 웹접근성 스킬 --- 기본 block 속성에는 적용 안됨*/
.sound_only {display:inline-block;margin:0;padding:0;width:0;height:0;border:0;overflow:hidden}
/* 본문 바로가기 */
#to_content a {display:block;position:absolute;top:0;left:0;margin:5px;height:0;text-decoration:none;overflow:hidden}
#to_content a:focus, #to_content a:active {height:auto;padding:5px 10px;border:1px solid #000;background:#eee;color:#333;font-size:0.75em;overflow:auto}

/* 테이블 */
table {margin-bottom:10px;width:100%;border:1px solid #d5dcdf;background:#fff}
caption {padding:10px 0 15px;color:#2f4d59;text-align:left;font-size:1em;font-weight:bold}
caption p {margin:7px 0 0;padding:0;color:#6b8088;font:0.75em normal}
th, td {border-bottom:1px solid #e9ecee;font-size:0.75em}
th {padding:10px;background:#f1f6f7}
th label {display:block}
th a {color:#000}
td {padding:10px}
/* 내용 없는 테이블 */
.empty_table {padding:200px 0;text-align:center}

/* 레이아웃 */
header {background:#2c2f34}
#logo {padding-top:4px;height:46px;background:url('../adm/img/logo_bg.png') repeat-x;text-align:center}
#home_link {z-index:2;position:absolute;top:50px;right:20px;height:35px;zoom:1}
#home_link:after {display:block;visibility:hidden;clear:both;content:""}
#home_link li {float:left;margin-left:10px}
#home_link a {color:#eee;font-size:0.75em;text-decoration:none;line-height:2.95em}
#current_location {position:absolute;top:50px;left:0;width:100%;height:35px;background:url('../adm/img/top_bg.png') #2c2f34 repeat-x;color:#eee;font-size:0.75em;line-height:2.95em}
#current_location ul {margin-left:20px}
#current_location li {float:left}
#wrapper {margin:60px 210px 0 20px;min-height:630px;height:auto !important;height:630px}

footer {margin:20px 0;padding:5px 20px;border-top:1px solid #d0d6d8}
footer p {color:#576a71}

/* 헤딩 */
h1 {margin-bottom:20px;color:#333;font-size:1.5em;font-family:"verdana","dotum";letter-spacing:-0.1em}

/* GNB */
#gnb {position:absolute;top:110px;right:20px;width:180px}
.gnb_1depth ul {display:block;visibility:hidden;height:0}
.gnb_1depth_on ul {visibility:visible;height:auto}
.gnb_1depth {margin-bottom:5px;border:1px solid #c7cfd5;background:#eef2f3}
.gnb_1depth a {display:block;padding-left:15px;height:38px;color:#333;font-size:0.9em;font-weight:bold;text-decoration:none;line-height:2.8em}
.gnb_1depth_on a {border-bottom:1px solid #eef1f2}
.gnb_2depth {border-bottom:1px solid #eef1f2}
.gnb_2depth a {display:block;padding-left:15px;height:30px;border:0;background:#fff;color:#000;font:0.75em normal;text-decoration:none;line-height:2.8em}
.gnb_2depth a:focus, .gnb_2depth a:hover {background:#f6f9fa}

/* 버튼 */
.btn_confirm {margin-bottom:20px;text-align:center}
.btn_confirm button {padding:0 15px;height:30px;border:0;background:#74868b;color:#fff;font-size:0.875em;line-height:2.2em;vertical-align:middle}
.btn_confirm button:focus {padding:0 15px;height:30px;background:#555;color:#fff;font-size:0.875em;line-height:2.2em;vertical-align:middle}
.btn_confirm a {display:inline-block;padding:0 15px;height:30px;background:#74868b;color:#fff;font-size:0.875em;text-decoration:none;line-height:2.1em;vertical-align:middle}
.btn_confirm a:focus {background:#555}
.btn_submit {padding:0 15px;height:30px;border:0;background:#ff3061;color:#fff;font-size:0.875em;line-height:2.2em;vertical-align:middle}
.btn_submit:focus {padding:0 15px;height:30px;border:0;background:#555;color:#fff;font-size:0.875em;line-height:2.2em;vertical-align:middle}

.btn_list input, .btn_list button {padding:0 15px;height:30px;background:#74868b;color:#fff;font-size:0.875em;line-height:2.2em;vertical-align:middle}
.btn_list input:focus, .btn_list button:focus {padding:0 15px;height:30px;background:#555;color:#fff;font-size:0.875em;line-height:2.2em;vertical-align:middle}
.btn_list a {display:inline-block;padding:0 15px;height:28px;background:#74868b;color:#fff;font-size:0.875em;text-decoration:none;line-height:2.1em;vertical-align:middle}
.btn_list a:focus {background:#555}

#btn_add {margin-bottom:10px;text-align:center}
#btn_add a {display:inline-block;padding:0 15px;height:30px;border:0;background:#ff3061;color:#fff;font-size:0.875em;text-decoration:none;line-height:2.2em;vertical-align:middle}

/* 폼 */
label {vertical-align:middle}
textarea, input, select {border:1px solid #ced9de;background:#f6f9fa;vertical-align:middle}
textarea, input {padding:3px}
textarea:focus, input:focus {padding:4px;border:0;background:#434f54;color:#fff}
textarea {width:90%}
select {padding:2px}
legend {margin-left:0;padding:7px 10px;border:1px solid #ced9de;background:#f6f9fa}
button {padding:3px;border:1px solid #ced9de;background:#f6f9fa;cursor:pointer}
fieldset {margin-bottom:20px;padding:13px;border:1px solid #ced9de;background:#fff;font-size:0.8em}
fieldset p {color:#6b8088}
fieldset span {display:inline-block;margin-right:10px;padding-right:10px;border-right:1px solid #ddd;vertical-align:middle}
fieldset button, .fieldset_submit {padding:0 15px;height:23px;border:0;background:#74868b;color:#fff;font-size:1em;line-height:2.1em;vertical-align:middle;cursor:pointer}
fieldset button:focus, .fieldset_submit:focus {padding:0 15px;height:23px;border:0;background:#555;color:#fff;font-size:1em;line-height:2.1em;vertical-align:middle}
.readonly {background:#ff3061}

/* 폼 안내글 */
.adm_field_explain {display:block;padding:0 0 5px;color:#5b747e}

/* 폼 바로가기 */
.frm_list {margin:0 0 20px;padding:0 0 0 1px;zoom:1}
.frm_list:after {display:block;visibility:hidden;clear:both;content:""}
.frm_list li {float:left;margin-left:-1px;list-style:none}
.frm_list a {display:block;border:1px solid #586267;background:#667379;padding:0 7px;height:30px;color:#fff;font-size:0.875em;text-decoration:none;line-height:2.3em}
.frm_list a:focus, .frm_list a:hover {background:#434f54}

/* 폼 테이블 */
.frm_tbl th {width:130px;text-align:left;font-weight:normal}
.frm_tbl textarea {height:150px}
#frm_extra label {display:inline-block;width:100px}
#frm_extra input {margin-right:10px}

/* 컨텐츠별 테이블 설정 */
/* 공통 */
.td_chk {width:30px;text-align:center}
.td_num {width:60px;text-align:center}
.td_bignum {width:120px;text-align:center}
.td_mbid, .td_mbnick, .td_mbname {width:100px;text-align:left}
.td_mbnick div, .td_mbname div {position:relative} /* 파이어폭스에서 사이드뷰 위치를 잡기 위함 */
.td_time {width:150px;text-align:center}
.td_boolean {width:50px;text-align:center}
/* 인덱스 */
/* 관리권한설정 목록 */
.td_menu {}
.td_auth {width:100px;text-align:center}
.td_auth_mbnick {width:200px;text-align:center}
/* 회원관리 목록 */
.tbl_mb_list td {text-align:center}
/* 포인트관리 목록 */
.tbl_pt_list td {text-align:center}
.tbl_pt_list .td_pt_log {text-align:left}
/* 회원메일발송 목록 */
.td_test, .td_send {width:50px;text-align:center}
.td_mng {width:110px;text-align:center}
/* 투표관리 목록 */
.td_etc {width:80px;text-align:center}
/* 게시판관리 목록 */
.tbl_bo_list td {text-align:center}
/* 게시판추가/수정 */
.group_setting {width:130px;border-left:1px solid #e9ecee}
#frm_extra .group_setting label {width:auto}
#frm_extra .group_setting input {margin:0}
/* 게시판그룹관리 목록 */
.tbl_gr_list td {text-align:center}
/* 접근가능그룹 목록 */
.td_grid {text-align:center}
/* 인기검색어 관련 목록 */
.tbl_pop_list td {text-align:center}
/* 접속자집계 목록 */
.tbl_visit_list td {text-align:center}
.td_category {width:120px;text-align:center}
.visit_bar {position:relative}
.visit_bar span {position:absolute;top:-8px;left:0;height:15px;background:#ddd}

/* 메일 테스트, 세션파일일괄삭제 */
#fsendmailtest p,
#session_del p {margin-bottom:20px;padding:13px;border:1px solid #ced9de;background:#fff;font-size:0.75em}
#cache_del p {margin-bottom:20px;padding:13px;border:1px solid #ced9de;background:#fff;font-size:0.75em}

/* 사이드뷰 */
.sv {display:inline-block;position:relative;font-weight:normal}
.sv .sv_wrap {display:none;margin-top:5px;border:1px solid #eee;background:#f7f7f2}
.sv_nojs .sv_wrap {display:block;width:100px !important}
.sv .sv_wrap a {display:block;padding:3px;border-bottom:1px solid #eee}
.sv_on {z-index:1000;display:block !important;position:absolute;top:10px;left:20px;width:100px !important;height:auto !important;background:#ddd;overflow:auto}
.sv_member,
.sv_guest {font-weight:bold}

/* pagination */
.pg {clear:both;margin:0 0 10px;padding-top:20px;font-size:0.75em;text-align:center}
.pg_wrap {display:inline-block;border:1px solid #c7cfd5;letter-spacing:-4px}
.pg_page, .pg_current {display:inline-block;padding:0 12px;height:30px;background:#fff;color:#000;letter-spacing:0;line-height:2.6em;vertical-align:middle}
.pg_page {background:#f9f9f9;text-decoration:none}
.pg_start, .pg_prev {border-right:1px solid #c7cfd5}
.pg_end, .pg_next {border-left:1px solid #c7cfd5}
.pg_current {background:#595959;color:#fff}
