/* SIR SOFT 지운아빠 Dec 2012 */

/* 초기화 */
html, body, h1, h2, h3, h4, h5, h6 {margin:0;padding:0}
article,aside,details,figcaption,figure, footer,header,hgroup,menu,nav,section {display:block}
header ul, nav ul {margin:0;padding:0;list-style:none}
table {border-collapse:collapse;border-spacing:0} tfoot td {text-align:center}
form, img {border:0}
img {vertical-align:middle}
p {margin:10px 0}

/* 내용 건너띄기 */
#skip_to_main {display:block;position:absolute;top:0;left:0;margin:5px;height:0;text-decoration:none;overflow:hidden}
#skip_to_main:focus, #skip_to_main:active {height:auto;padding:5px 10px;border:1px solid #000;background:#eee;color:#333;font-size:0.75em;overflow:auto}

/* 내용 없는 테이블 */
.empty_table {padding:200px 0;text-align:center}

/* 레이아웃 */
html {overflow-y:scroll}
body {background:#dfe4e6;font-size:1em}
header {background:#2c2f34}
#logo {padding-top:4px;height:46px;background:url('../img/logo_bg.png') repeat-x;text-align:center}
#home_link {z-index:2;position:absolute;top:50px;right:20px;height:35px;zoom:1}
#home_link:after {display:block;visibility:hidden;clear:both;content:""}
#home_link li {float:left;margin-left:10px}
#home_link a {color:#ccc;font-size:0.75em;text-decoration:none;line-height:2.95em}
#current_location {position:absolute;top:50px;left:0;width:100%;height:35px;background:url('../img/top_bg.png') #2c2f34 repeat-x;color:#ccc;font-size:0.75em;line-height:2.95em}
#current_location ul {margin-left:20px}
#current_location li {float:left}
#wrapper {margin:60px 10px 0 210px;min-height:630px;height:auto !important;height:630px}

/* 헤딩 (아 머리 아퍼) */
h1 {margin-bottom:20px}

/* GNB */
#gnb {position:absolute;top:110px;left:20px;width:180px}
.gnb_1depth ul {display:block;visibility:hidden;height:0}
.gnb_1depth_on ul {visibility:visible;height:auto}
.gnb_1depth {margin-bottom:5px;border:1px solid #c7cfd5;background:#eef2f3}
.gnb_1depth a {display:block;padding-left:15px;height:38px;color:#899093;font-size:0.9em;font-weight:bold;text-decoration:none;line-height:2.8em}
.gnb_1depth_on a {background:#515b5f;color:#fff}
.gnb_2depth {border-bottom:1px solid #eef1f2}
.gnb_2depth a {display:block;padding-left:15px;height:30px;background:#fff;color:#000;font:0.75em normal;text-decoration:none;line-height:2.8em}
.gnb_2depth a:focus, .gnb_2depth a:hover {background:#f6f9fa}

/* 폼요소 */
label {vertical-align:middle}
textarea, input, select {border:1px solid #ced9de;background:#f6f9fa;vertical-align:middle}
textarea, input {padding:3px}
textarea:focus, input:focus {padding:4px;border:0;background:#9aacb4;color:#fff}
textarea {width:90%}
select {padding:2px}
fieldset {margin-bottom:20px;padding:13px;border:1px solid #ced9de;background:#fff;font-size:0.8em}
fieldset p {color:#6b8088}
fieldset span {display:inline-block;margin-right:10px;vertical-align:middle}
legend {margin-left:0;padding:7px 10px;border:1px solid #ced9de;background:#f6f9fa}
button {padding:3px;border:1px solid #ced9de;background:#f6f9fa;cursor:pointer}
.readonly {background:#ff3061}

.adm_field_explain {display:block;padding:0 0 5px;color:#768f99}
.group_setting {}
.group_setting_ta {display:block;padding-top:5px}

.frm_list {margin:0 0 20px;padding:0 0 0 1px;zoom:1}
.frm_list:after {display:block;visibility:hidden;clear:both;content:""}
.frm_list li {float:left;margin-left:-1px;list-style:none}
.frm_list a {display:block;border:1px solid #c7cfd5;background:#fff;padding:0 7px;height:30px;color:#2e5d98;font-size:0.875em;text-decoration:none;line-height:2.3em}
.frm_list a:focus, .frm_list a:hover {background:#f6f9fa}

/* 테이블 */
table {margin-bottom:20px;width:100%;border:1px solid #d5dcdf;background:#fff}
caption {padding-bottom:15px;color:#5b7c89;text-align:left;font-size:1em;font-weight:bold}
caption p {margin:7px 0 0;padding:0;color:#6b8088;font:0.75em normal}
th, td {border-bottom:1px solid #e9ecee;font-size:0.75em}
th label {display:block}
th a {color:#000}
th {padding:10px;background:#f1f6f7}
td {padding:10px}
.frm_tbl th {width:130px;text-align:left;font-weight:normal}
.frm_tbl textarea {height:150px}

/* 컨텐츠별 테이블 설정 */
/* 공통 */
.td_chk {width:30px;text-align:center}
.td_num {width:60px;text-align:center}
.td_bignum {width:120px;text-align:center}
.td_mbid, .td_mbnick, .td_mbname {width:80px;text-align:center}
.td_time {width:150px;text-align:center}
.td_boolean {width:50px;text-align:center}
/* 인덱스 */
/* 관리권한설정 목록 */
.td_menu {}
.td_auth {width:100px;text-align:center}
.td_auth_mbnick {width:200px;text-align:center}
/* 회원관리 목록 */
.tbl_mb_list td {text-align:center}
/* 포인트관리 목록 */
.tbl_pt_list td {text-align:center}
.tbl_pt_list .td_pt_log {text-align:left}
/* 회원메일발송 목록 */
.td_test, .td_send {width:50px;text-align:center}
.td_mng {width:110px;text-align:center}
/* 투표관리 목록 */
.td_etc {width:80px;text-align:center}
/*게시판관리 목록 */
.tbl_bo_list td {text-align:center}
/*게시판그룹관리 목록 */
.tbl_gr_list td {text-align:center}
/* 접근가능그룹 목록 */
.td_grid {text-align:center}
/* 인기검색어 관련 목록 */
.tbl_pop_list td {text-align:center}
/* 접속자집계 목록 */
.tbl_visit_list td {text-align:center}
.td_category {width:120px;text-align:center}
.visit_bar {position:relative}
.visit_bar span {position:absolute;top:-8px;left:0;height:15px;background:#ddd}

/* pagination */
.pg {margin-bottom:30px;font-size:0.875em;text-align:center}
.pg_page, .pg_current {display:inline-block;position:relative;margin-left:-6px;padding:0 10px;height:25px;border:1px solid #ddd;background:#fff;line-height:1.9em;vertical-align:middle}
.pg_page {text-decoration:none}
.pg_current {font-weight:normal}
