/* SIR SOFT 지운아빠 Dec 2012 */

/* 초기화 */
html, body, h1, h2, h3, h4, h5, h6 {margin:0;padding:0}
article,aside,details,figcaption,figure, footer,header,hgroup,menu,nav,section {display:block}
header ul, nav ul {margin:0;padding:0;list-style:none}
table {border-collapse:collapse;border-spacing:0} tfoot td {text-align:center}
form, img {border:0}
img {vertical-align:middle}
p {margin:10px 0;line-height:1.5em}

/* 레이아웃 */