/* SIR SOFT 지운아빠 Jan 2013 */

/* 초기화 */
html {overflow-y:scroll}
body {margin:0;padding:0;background:#f7f7f2;font-size:0.75em;font-family:"dotum"}
html, body, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}
h1, h2, h3, h4, h5, h6 {font-size:1em;font-family:"dotum"}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
header ul, nav ul, footer ul {margin:0;padding:0;list-style:none}
label, input, select, img {vertical-align:middle}
input {margin:0;padding:0;font-family:"dotum"}
p {margin:0;padding:10px 0;line-height:1.7em;word-break:break-all}
hr {display:none}
pre {overflow-x:scroll;font-size:1.1em}

/* 웹접근성 스킬 --- 기본 block 속성에는 적용 안됨*/
.sound_only {display:inline-block;margin:0;padding:0;width:0;height:0;border:0;overflow:hidden}
/* 본문 바로가기 */
#to_content a {z-index:100000;display:block;position:absolute;top:0;left:0;height:0;overflow:hidden}
#to_content a:focus,
#to_content a:active {padding:10px 0;width:100%;height:auto;background:#333;color:#fff;font-size:2em;text-align:center;text-decoration:none;overflow:auto}

/* 이미지 등비율 리사이징 */
.img_fix {float:left;margin-bottom:20px;width:100%;height:auto}

/* 캡챠 자동등록(입력)방지 기본 */
#captcha img {border:1px solid #ddd;border-right:0}
#captcha_wav img {border:1px solid #ddd;border-left:0;background:#494949}

/* 상단 레이아웃 */
#hd {margin-bottom:30px;height:100px;background:#fff}
#hd h1 {width:0;height:0;overflow:hidden}
#hd_wrapper {position:relative;margin:0 auto;width:980px}

#logo {padding-top:30px}

#snb {position:absolute;top:10px;right:190px;zoom:1}
#snb:after {display:block;visibility:hidden;clear:both;content:""}
#snb li {float:left}
#snb a {display:inline-block;padding:7px 10px 6px;color:#000;text-decoration:none}

#schall {position:absolute;top:10px;right:0;margin:0;padding:0;width:180px;border:0;letter-spacing:-5px}
#schall legend {width:0;height:0;overflow:hidden}
#schall_stx {width:150px;height:21px;border:3px solid #484848;border-right:0;background:#fff;line-height:1.5em}

/* 중간 레이아웃 */
#wrapper {margin:0 auto;padding-bottom:30px;width:980px;zoom:1}
#wrapper:after {display:block;visibility:hidden;clear:both;content:""}
#wrapper_title {margin-bottom:20px;font-size:1.2em}
#lnb {float:right;width:220px}
#container {float:left;width:730px;zoom:1}
#container:after {display:block;visibility:hidden;clear:both;content:""}

.cbg {border-right:1px solid #ddd;border-bottom:1px solid #ddd;background:#fff}

/* 하단 레이아웃 */
#ft {background:#484848}
#ft h1 {width:0;height:0;overflow:hidden}

#popular {background:#515151}
#popular div {margin:0 auto;width:980px;zoom:1}
#popular div:after {display:block;visibility:hidden;clear:both;content:""}
#popular h2 {float:left;padding:15px 45px 15px 0;color:#fff}
#popular ul {float:left;list-style:none}
#popular li {float:left;padding:5px 0}
#popular a {display:inline-block;padding:10px;color:#fff;text-decoration:none}

#visit {background:#444}
#visit div {margin:0 auto;width:980px;zoom:1}
#visit div:after {display:block;visibility:hidden;clear:both;content:""}
#visit h2 {float:left;padding:15px 45px 15px 0;color:#fff}
#visit dl {float:left;margin:0 0 0 10px;padding:5px 0}
#visit dt {float:left;margin:0;padding:10px 0 10px;color:#fff}
#visit dd {float:left;margin:0 30px 0 0;padding:10px;color:#fff}
#visit a {display:inline-block;margin:5px 0;padding:10px;color:#fff;text-decoration:none}

#ft_catch {padding:30px 0;text-align:center}

#ft_copy {background:#414141}
#ft_copy p {margin:0 auto;width:980px;color:#4a9ab8}
#ft_copy b {color:#fff}

/* ///// 콘텐츠별 스타일 ///// */
/* PC 초기화면 */
#idx_catch {margin-bottom:10px;padding: 25px 0 25px}

/* 버튼 */
.btn01 {display:inline-block;padding:0 10px;height:24px;border:1px solid #239ce2 !important;background:#109ff1 !important;color:#fff !important;text-decoration:none;line-height:2.2em}
.btn02 {display:inline-block;padding:0 10px;height:24px;border:1px solid #ccc !important;background:#fafafa !important;color:#000 !important;text-decoration:none;line-height:2.2em}
.btn03 {display:inline-block;padding:0 10px;height:24px;border:1px solid #494949 !important;background:#494949 !important;color:#fff !important;text-decoration:none;line-height:2.2em}
.btn_confirm {text-align:center} /* 서식단계 진행 */
.btn_submit {padding:0 10px;height:24px;border:0;background:#484848;color:#fff;letter-spacing:-0.1em;vertical-align:top}
.btn_cancel {display:inline-block;padding:0 10px;height:22px;border:1px solid #ccc;background:#fafafa;color:#000;text-decoration:none;line-height:2em}
.btn_frmline {padding:0 7px 0 5px;height:22px;border:0;background:#109ff1;color:#fff;letter-spacing:-0.1em;vertical-align:top;line-height:2em}
.btn_win {clear:both;margin-bottom:20px;text-align:center} /* 새창용 */
.btn_win a {display:inline-block;padding:0 10px;height:24px;border:1px solid #ccc;background:#fafafa;color:#000;text-decoration:none;line-height:2em;cursor:pointer}

/* ///// 기본테이블 ///// */
table {margin-bottom:10px;width:100%;border-collapse:collapse;border-spacing:0}
tfoot th {border-top:1px solid #c9c9c9;border-bottom:1px solid #c9c9c9}
tfoot td {border-color:#c9c9c9;background:#f9f9f5;font-weight:bold;text-align:center}
caption {padding:0 0 10px;text-align:left}
th {padding:12px 0 8px;border-top:1px solid #ddd;border-bottom:1px solid #ddd}
th input {vertical-align:top} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
td {padding:10px 5px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;word-break:break-all}
table a {color:#000;text-decoration:none}
.bo_sideview td {padding:7px 5px} /* 사이드뷰 사용하는 테이블 셀 패딩값 */
.empty_table {padding:85px 0;text-align:center}

/* 폼 테이블 */
.frm_tbl {}
.frm_tbl caption {padding-top:10px;color:#999;font-weight:bold}
.frm_tbl th {padding-left:10px;width:100px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;text-align:left}
.frm_tbl td {padding:7px 10px}
.frm_tbl textarea,
.frm_input {padding:2px 2px 3px;border:1px solid #d7d7d7;background:#fff;vertical-align:middle}
.frm_tbl textarea:focus,
.frm_input:focus {padding:3px 3px 4px;border:0;background:#494949;color:#fff}
.frm_tbl textarea {width:90%}
.frm_address {display:block;margin-top:5px}
.frm_file {display:block;margin-bottom:5px}
.frm_info {display:block;padding:5px 0 0;color:#595959;line-height:1.3em}
.frm_tbl #captcha {margin:0;padding:0;border:0;background:transparent}
.frm_tbl #captcha input {margin-left:5px}

/* ///// 테이블 항목별 정의 ///// */
.td_chk {width:40px;text-align:center}
.td_group {width:100px;text-align:center}
.td_board {width:120px;text-align:center}
.td_num {width:50px;text-align:center}
.td_bignum {width:80px;text-align:center}
.td_mb_id {width:100px;text-align:center}
.td_nick {width:100px;text-align:center}
.td_name {width:100px;text-align:left}
.td_name div {position:relative}
.td_date {width:60px;text-align:center}
.td_datetime {width:100px;text-align:center}
.td_mng {width:80px;text-align:center}

/* ///// 새창 기본 스타일 ///// */
.new_win {}
.new_win h1 {margin-bottom:20px;padding:20px 20px 10px;background:#fff;font-size:1.2em}
.new_win table {margin:0 auto 20px;width:93%}
.new_win_ul {margin:-20px 0 20px 0;padding:0 0 0 20px;border-bottom:1px solid #515151;background:#484848;list-style:none;zoom:1}
.new_win_ul:after {display:block;visibility:hidden;clear:both;content:""}
.new_win_ul li {float:left;margin-left:-1px}
.new_win_ul a {display:block;padding:10px 10px 8px;border-right:1px solid #595959;border-left:1px solid #595959;color:#fff;font-family:"dotum";font-weight:bold;text-decoration:none}

/* ///// 스킨별 스타일 ///// */
/* 아웃로그인 스킨 */
.ol {position:relative;margin-bottom:10px;padding:14px}
.ol h2 {width:0;height:0;overflow:hidden}
.ol ul {margin:0;padding:0;list-style:none}
.ol a {color:#000;text-decoration:none}

#ol_before fieldset {position:relative}
#ol_id {display:block;margin:0 0 5px !important;margin:0 0 3px;width:188px;height:22px;border:1px solid #d1d1d1;background:#fff;line-height:1.6em}
.ol_idlabel {position:absolute;top:6px;left:5px;color:#696969;font-size:0.9em}
#ol_pw {display:block;margin:0 0 5px !important;margin:0 0 3px;width:188px;height:22px;border:1px solid #d1d1d1;background:#fff;vertical-align:top;line-height:1.6em}
.ol_pwlabel {position:absolute;top:35px;left:5px;color:#696969;font-size:0.9em}
#auto_login {}
#auto_login_label {letter-spacing:-0.1em}
#ol_submit {width:60px;height:24px;border:1px solid #383838;background:#484848;color:#fff;font-size:0.9em;font-weight:bold;vertical-align:top}
#ol_before ul {float:right;margin:7px 0 13px;zoom:1}
#ol_before ul:after {display:block;visibility:hidden;clear:both;content:""}
#ol_before li {float:left;margin-left:5px;padding-top:2px}
#ol_before #ol_auto {float:left;margin:4px 0 0;padding:0}
#ol_before a {color:#000;letter-spacing:-0.1em}
#ol_svc {padding-top:8px;text-align:right}

#ol_after_hd {text-align:center}
#ol_after_private {margin:7px 0;zoom:1}
#ol_after_private:after {display:block;visibility:hidden;clear:both;content:""}
#ol_after_private li {float:left}
#ol_after_private a {display:block;padding-top:8px;height:37px;background:#f7f7f2;text-align:center}
#ol_after_private a strong {display:block;padding-top:5px;color:#109ff1}
#ol_after_memo {width:50px;margin-right:1px}
#ol_after_pt {width:90px;margin-right:1px}
#ol_after_scrap {width:48px;line-height:2.6em !important}
#ol_after_ft {text-align:right}
#ol_after_ft a {display:inline-block;margin-left:5px}

/* 설문조사 스킨 */
#poll {}
#poll header {padding:14px 14px 0}
#poll ul {margin:0 0 10px;padding:5px 14px;background:#f7f7f2;list-style:none}
#poll li {padding:3px 0}
#poll footer {padding:0 14px 14px;text-align:right}

/* 최근게시물 스킨 (latest) */
.lt {float:left;margin-bottom:20px;padding:20px;width:314px;height:149px}
.lt ul {margin:0;padding:0;list-style:none}
.lt li {padding:3px 0}
.lt a {color:#000;text-decoration:none}
.lt_title {display:block;margin-bottom:20px;text-align:center}
.lt_more {text-align:center}
.lt_more a {display:block}

/* 최근게시물 스킨 (new) */
#new_sch {margin-bottom:10px;text-align:right}
#new_sch legend {width:0;height:0;overflow:hidden}

/* 전체검색결과 스킨 */
#sch_result_detail {margin:0;padding:15px 0;border:0;text-align:right}
#sch_result {padding:10px 0 0 0;border-top:1px solid #ddd;background:url('../img/sch_result_bg.jpg') repeat-y}
#sch_result ul {margin:0;padding:0;list-style:none}
#sch_result p {margin:5px 0;padding:0}
#sch_result_hd {margin:0;padding:0;zoom:1}
#sch_result_hd:after {display:block;visibility:hidden;clear:both;content:""}
#sch_result_hd dt {float:left;padding:10px 0 15px}
#sch_result_hd dd {float:right;margin:0;padding:10px 0 15px}
#sch_result_hd ul {float:left}
#sch_result_hd li {float:left;padding:0 10px;border-right:1px solid #ddd}
#sch_result_bo {float:left;margin:0;padding:0;width:170px}
#sch_result_bo dt {margin:0;padding:0;width:0;height:0;border:0;overflow:hidden}
#sch_result_bo dd {margin:0;padding:0}
#sch_result_bo ul {margin-top:1px}
#sch_result_bo li {position:relative;margin-top:-1px;height:40px}
#sch_result_bo a {position:absolute;padding:0 10px;width:149px;height:40px;border:1px solid #616161;border-right:0;background:#484848;color:#fff;text-decoration:none;line-height:3.4em}
#sch_result_bo .sch_on {width:150px;border-color:#ddd;border-right:0;background:#fff;color:#000;font-weight:bold}
#sch_result_bo .cnt_cmt {display:inline-block;margin-left:10px;color:#fff}
#sch_result_bo .sch_on .cnt_cmt {color:#000}
#sch_result_atc {float:left;margin:0;padding:15px 25px;width:508px;border:1px solid #ddd;background:#fff}
#sch_result_atc dt a {display:inline-block;margin-bottom:15px;color:#000;font-size:1.2em;font-weight:bold;text-decoration:none}
#sch_result_atc dd {margin:0 0 15px}
#sch_result_atc dd a {color:#000;text-decoration:none}
#sch_result_atc .sch_result_title {display:inline-block;margin-bottom:5px;font-size:1.2em;text-decoration:underline}
#sch_result_atc li {padding:13px 0;border-bottom:1px solid #f0f0f0}
#sch_result_atc p {padding:0 0 5px}
#sch_result_atc a {display:inline-block;margin:0 10px 0 0}
#sch_result_atc .cmt_def {display:inline-block;margin:0 10px 0 0}
.sch_more {padding:10px 0 15px;text-align:right}
.sch_more a {color:#000;text-decoration:none}
.sch_sideview {position:relative;padding-top:5px}
.sch_datetime {display:inline-block;margin-right:15px;color:#999}
.sch_word {font-weight:bold} /* 검색어 강조 */

/* 게시판 쓰기 */
#bo_w caption {padding:0;height:0;overflow:hidden}

/* 게시판 목록 */
.btn_bo_adm input {padding:0 10px;height:26px;border:1px solid #ddd;background:#eee;color:#000;text-decoration:none}
.bo_fx {margin-bottom:5px;zoom:1}
.bo_fx:after {display:block;visibility:hidden;clear:both;content:""}
.bo_fx ul {margin:0;padding:0;list-style:none}
#bo_sch {float:left}
#bo_sch legend {width:0;height:0;overflow:hidden}
.btn_bo_user {float:right;margin:0;padding:0;list-style:none}
.btn_bo_user li {float:left;margin-left:5px}
#bo_list caption {padding:0;height:0;color:transparent;overflow:hidden} /* ff에서 감추기 위해 color:transparent 사용 */
#bo_list td {line-height:1em}
#bo_list strong {color:#109ff1}
.btn_bo_adm {float:left}
.btn_bo_adm li {float:left;margin-right:5px}
.bo_notice {}
.bo_cate_link {display:inline-block;padding:0 5px 0 0;font-weight:bold;text-decoration:none} /* 글제목 줄 분류스타일 */
.bo_current {color:#109ff1}
.td_subject img {margin-left:5px}
.cnt_cmt {display:inline-block;margin:0 4px;color:#109ff1}

/* 게시판 읽기 */
#bo_v_title {}
#bo_v {position:relative;margin-bottom:30px}
#bo_v a {color:#000;text-decoration:none}
#bo_v_h1 {padding:30px 20px 10px;font-size:1.2em;line-height:1.4em}
#bo_v_info {padding:0 20px 15px}
#bo_v_info h2 {margin:0;padding:0;height:0;overflow:hidden}
#bo_v_info strong {display:inline-block;margin:0 10px 0 5px;font-weight:normal}
#bo_v_top {zoom:1}
#bo_v_top:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_top h2 {margin:0;padding:0;height:0;overflow:hidden}
#bo_v_top ul {margin-bottom:10px;padding:0 20px;list-style:none}
#bo_v_file {background:#fff}
#bo_v_file h2 {margin:0;padding:0;height:0;overflow:hidden}
#bo_v_file ul {margin:0;padding:0;list-style:none}
#bo_v_file li {padding:0 20px;border-bottom:1px solid #eee}
#bo_v_file a {display:inline-block;padding:8px 0 7px}
.bo_v_file_cnt {display:inline-block;margin:0 10px}
#bo_v_link {background:#fff}
#bo_v_link h2 {margin:0;padding:0;height:0;overflow:hidden}
#bo_v_link ul {margin:0;padding:0;list-style:none}
#bo_v_link li {padding:0 20px;border-bottom:1px solid #eee}
#bo_v_link a {display:inline-block;padding:8px 0 7px}
.bo_v_link_cnt {display:inline-block;margin:0 10px}
#bo_v_atc {min-height:200px;height:auto !important;height:200px;zoom:1}
#bo_v_atc:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_atc h1 {margin:0;padding:0;height:0;overflow:hidden}

#bo_v_img {margin:0 20px;width:688px;overflow:hidden}
/*#bo_v_img img {max-width:100%;height:auto}*/
#bo_v_con {padding:20px;width:688px;overflow:hidden;line-height:1.8em;word-break:break-all}
#bo_v_con a {color:#109ff1;text-decoration:underline}
#bo_v_act {padding:20px 0;text-align:center}
#bo_v_act a {margin-right:5px;vertical-align:top}
#bo_v_act strong {color:#109ff1}
#bo_v form {padding-top:20px}
#bo_v_bot {zoom:1}
#bo_v_bot:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_bot h2 {margin:0;padding:0;height:0;overflow:hidden}
#bo_v_bot ul {margin:0;padding:0 20px 15px;list-style:none}
#bo_v_nb {float:left}
#bo_v_nb li {float:left;margin-right:5px}
.bo_v_com {float:right}
.bo_v_com li {float:left;margin-left:5px}

/* 게시판 댓글 */
#bo_vc {margin:0 20px 10px;padding:10px 20px 20px 20px;background:#f9f9f9}
#bo_vc h2 {margin:0;padding:0;height:0;overflow:hidden}
#bo_vc article {margin-bottom:5px;padding:0 0 10px;border-bottom:1px solid #eee}
#bo_vc header {position:relative;zoom:1}
#bo_vc header:after {display:block;visibility:hidden;clear:both;content:""}
#bo_vc header .icon_reply {position:absolute;top:15px;left:-20px}
#bo_vc header span {}
#bo_vc h1 {display:inline-block;margin:15px 10px 5px 0}
#bo_vc a {color:#000;text-decoration:none}
#bo_vc p {padding:0 0 5px;line-height:1.8em}
#bo_vc fieldset {margin:0 0 10px;padding:0}
#bo_vc_w {zoom:1}
#bo_vc_w:after {display:block;visibility:hidden;clear:both;content:""}
#bo_vc_w #bo_vc_winfo {float:left}
#bo_vc_w #captcha {float:left;margin-left:10px;padding:0 5px 0 0;border:0}
#bo_vc_w #captcha a {display:inline-block;margin-right:5px;text-decoration:underline;vertical-align:middle}
#bo_vc .fs_input {margin-right:5px}
#bo_vc footer {zoom:1}
#bo_vc footer:after {display:block;visibility:hidden;clear:both;content:""}
.bo_vc_act {float:right;margin:0;list-style:none;zoom:1}
.bo_vc_act:after {display:block;visibility:hidden;clear:both;content:""}
.bo_vc_act li {float:left;margin-left:5px}
#bo_vc_w {position:relative}
#bo_vc_w #char_cnt {position:absolute;top:5px;right:10px}
#bo_vc_warea {clear:both;position:relative;margin:0 90px 10px 0}
#bo_vc_warea textarea {padding:3px;width:100%;height:50px;border:1px solid #ddd;background:#fff;vertical-align:middle}
#bo_vc_warea textarea:focus {padding:4px;border:0;background:#494949;color:#fff}
#bo_vc_warea .bo_vc_submit {position:absolute;top:0;right:-90px !important;right:20px;width:75px;height:57px;border:1px solid #666;background:#494949;color:#fff;letter-spacing:-0.1em}

/* 사이드뷰 */
#sideview {z-index:1000;position:absolute;top:15px;left:20px;margin:0 !important;padding:0 !important;border:1px solid #999;background:#f9f9f9}
#sideview ul {margin:0 !important;padding:0 !important;list-style:none !important}
#sideview a {display:inline-block;padding:5px 10px 4px;width:100px;border-bottom:1px solid #ddd;color:#000;font-weight:normal;text-decoration:none}

/* pagination */
.pg {clear:both;margin:0 0 20px;padding-top:20px;text-align:center}
.pg_wrap {display:inline-block;border:1px solid #ddd;letter-spacing:-4px}
.pg_page,
.pg_current {display:inline-block;padding:0 12px;height:30px;background:#fff;color:#000;letter-spacing:0;line-height:2.6em;vertical-align:middle}
.pg_page {background:#f9f9f9;text-decoration:none}
.pg_start,
.pg_prev {border-right:1px solid #ddd}
.pg_end,
.pg_next {border-left:1px solid #ddd}
.pg_current {background:#494949;color:#fff}