/* SIR SOFT 지운아빠 Mar. 2013 */

/* 초기화 */
html {overflow-y:scroll}
body {margin:0;padding:0;background:#f7f7f2;font-size:0.75em;font-family:"dotum"}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}
h1, h2, h3, h4, h5, h6 {font-size:1em;font-family:"dotum"}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
header ul, nav ul, footer ul {margin:0;padding:0;list-style:none}
label, input, select, img {vertical-align:middle}
input {margin:0;padding:0;border-radius:0;font-family:"dotum"}
input[type=text],
input[type=password],
input[type=submit],
input[type=image] {-webkit-appearance:none}
button {border-radius:0;font-size:1em;-webkit-appearance:none}
p {margin:0;padding:10px 0;line-height:1.7em;word-break:break-all}
hr {display:none}
pre {overflow-x:scroll;font-size:1.1em}
a:link,
a:visited {color:#000;text-decoration:none}
a:hover,
a:focus,
a:active {color:#000;text-decoration:underline}

/* 화면낭독기 사용자용 */
#hd_login_msg {position:absolute;top:0;left:0;width:1px;height:1px;overflow:hidden}
.msg_sound_only,
.sound_only {display:inline-block !important;position:absolute;top:0;left:0;margin:0 !important;padding:0 !important;font-size:0;line-height:0;border:0 !important;overflow:hidden !important}
/* 본문 바로가기 */
#to_content a {z-index:100000;position:absolute;top:0;left:0;font-size:0;line-height:0;overflow:hidden}
#to_content a:focus,
#to_content a:active {width:100%;height:75px;background:#21272e;color:#fff;font-size:2em;font-weight:bold;text-align:center;text-decoration:none;line-height:3.3em}

/* 이미지 등비율 리사이징 */
.img_fix {width:100%;height:auto}

/* 캡챠 자동등록(입력)방지 기본 */
#captcha img {border:1px solid #cfded8;border-right:0}
#captcha_mp3 img {border:1px solid #cfded8;border-left:0;background:#494949}
#mp3_embed {position:absolute;top:0;left:0;width:1px;height:1px;overflow:hidden} /* 익스 8 이하에서 음성캡챠 실행 스타일 */

/* ckeditor 단축키 */
.cke_sc {margin:0 0 5px;text-align:right}
.btn_cke_sc{display:inline-block;padding:0 10px;height:23px;border:1px solid #ccc !important;background:#fafafa !important;color:#000 !important;text-decoration:none !important;line-height:1.9em;vertical-align:middle}
.cke_sc_def {margin:0 0 5px;padding:10px;border:1px solid #ccc;background:#f7f7f7;text-align:center}
.cke_sc_def dl{margin:0 0 5px;text-align:left;zoom:1}
.cke_sc_def dl:after {display:block;visibility:hidden;clear:both;content:""}
.cke_sc_def dt,
.cke_sc_def dd {float:left;margin:0;padding:5px 0;border-bottom:1px solid .e9e9e9}
.cke_sc_def dt {width:20%;font-weight:bold}
.cke_sc_def dd {width:30%}

/* 상단 레이아웃 */
#hd {height:73px;border-top:3px solid #151515;border-bottom:1px solid #e7f1ed;background:#fff}
#hd h1 {width:1px;height:1px;font-size:0;line-height:0;overflow:hidden}
#hd_wrapper {position:relative;margin:0 auto;width:980px}

#logo {padding:17px 0}
#logo span {display:inline-block;margin-left:10px;color:#109ff1;font-family:"verdana";vertical-align:middle}

#schall {position:absolute;top:22px;left:70px;margin:0;padding:0;letter-spacing:-5px}
#schall legend {width:1px;height:1px;font-size:0;line-height:0;overflow:hidden}
#schall_stx {padding-left:5px;width:156px;height:24px;border:1px solid #aaa;border-right:0;background:#fff;line-height:1.9em !important;line-height:1.6em}
#schall_submit {border:1px solid #aaa;border-left:0}

#mb_nb {position:absolute;top:18px;right:0;zoom:1}
#mb_nb:after {display:block;visibility:hidden;clear:both;content:""}
#mb_nb li {float:left}
#mb_nb a {display:block;padding:5px 10px;color:#333;letter-spacing:-0.1em}
#mb_nb a:focus,
#mb_nb a:hover,
#mb_nb a:active {text-decoration:none}
#mb_nb img {margin-right:3px}

/* gnb js off */
#gnb {z-index:10;margin:-1px 0 0;border-bottom:1px solid #c3c7c5;background:#f0f4f8}
#gnb h2 {margin:0;padding:0;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden}
#gnb_ul {margin:0 auto;padding:0;width:980px;zoom:1}
#gnb_ul:after {display:block;visibility:hidden;clear:both;content:""}
.gnb_1depth {z-index:10;clear:both;zoom:1}
.gnb_1depth:after {display:block;visibility:hidden;clear:both;content:""}
.gnb_1depth a {display:block;float:left;width:80px;height:35px;font-weight:bold;line-height:2.95em;text-decoration:none}
.gnb_1depth a:focus,
.gnb_1depth a:hover {text-decoration:none}
.gnb_1depth ul {float:left;width:auto}
.gnb_2depth {float:left}
.gnb_2depth a {font-weight:normal}
/* gnb js on */
.gnb_js {}
.gnb_js #gnb_ul {zoom:1}
.gnb_js #gnb_ul:after {display:block;visibility:hidden;clear:both;content:""}
.gnb_js .gnb_1depth {clear:none;position:relative;float:left}
.gnb_js .gnb_1depth a {text-align:center}
.gnb_js .gnb_1depth_air a {float:none;background:#f7f7f2;color:#000}
.gnb_js .gnb_1depth_on a {float:none;border-color:#e0e5e9;background:#fff;color:#000}
.gnb_js .gnb_sub_ul {position:absolute;top:35px;width:1px;height:1px;overflow:hidden}
.gnb_js .gnb_2depth a {display:inline-block;float:none !important;padding:0 10px;width:161px;text-align:left}
.gnb_1depth_over .gnb_sub_ul {left:-1px;width:181px;height:auto;border:1px solid #c3c7c5;border-top:0;background:#fff}
.gnb_1depth_over2 .gnb_sub_ul {right:-1px;width:181px;height:auto;border:1px solid #c3c7c5;border-top:0;background:#fff}

.gnb_empty {width:100%;height:35px;text-align:center;line-height:2.95em}

/* 배포시에는 필요없는 부분 */
#sirgle_title {height:100px;color:#fff;font-size:3em}
#sirgle_title_span {display:block;position:relative;top:33px;left:0;margin:0 auto;width:980px}

/* 중간 레이아웃 */
#wrapper {z-index:5;margin:50px auto;width:980px;zoom:1}
#wrapper:after {display:block;visibility:hidden;clear:both;content:""}
#wrapper_title {margin-bottom:20px;font-size:1.2em}

#wrapper #aside {float:right;width:209px;border:1px solid #cfded8;background:#fff}

#container {z-index:4;position:relative;float:left;padding:25px 15px 15px;width:728px;min-height:500px;height:auto !important;height:500px;border:1px solid #cfded8;background:#fff;zoom:1}
#container:after {display:block;visibility:hidden;clear:both;content:""}

/* 텍스트 크기 조절 */
#text_size {position:absolute;top:-31px;left:-1px}
#text_size button {padding:0 10px;height:30px;border:1px solid #cfded8;border-bottom:0;background:#000;color:#fff;cursor:pointer}

/* 하단 레이아웃 */
#ft {background:#484848}
#ft h1 {width:1px;height:1px;font-size:0;line-height:0;overflow:hidden}

#ft_catch {position:relative;margin:0 auto;padding:20px 0;width:980px;text-align:center}

#ft_copy {background:#414141}
#ft_copy p {position:relative;margin:0 auto;width:980px;color:#4a9ab8}
#ft_copy b {color:#fff}
#ft_copy a {position:absolute;top:10px;right:0;color:#fff}

/* Mobile화면으로 */
#g4s_cng {display:block;margin:0.3em;padding:0.5em 0;border:1px solid #eee;border-radius:2em;background:#fff;color:#000;font-size:2em;text-decoration:none;text-align:center}

/* 콘텐츠별 스타일 */
.cnt_cmt {display:inline-block;margin:0 0 0 3px;font-weight:bold}
/* 버튼 */
.btn01 {display:inline-block;padding:0 10px;height:23px;border:1px solid #ccc !important;background:#fafafa !important;color:#000 !important;text-decoration:none !important;line-height:2.15em;vertical-align:middle}
.btn01:focus,
.btn01:hover {text-decoration:none !important}
.btn02 {display:inline-block;padding:0 10px;height:23px;border:1px solid #333 !important;background:#333 !important;color:#fff !important;text-decoration:none !important;line-height:2.15em;vertical-align:middle}
.btn02:focus,
.btn02:hover {text-decoration:none !important}
.btn_confirm {text-align:center} /* 서식단계 진행 */
.btn_submit {padding:0 10px;height:24px;border:0;background:#333;color:#fff;letter-spacing:-0.1em;vertical-align:top;cursor:pointer}
button.btn_submit {height:22px !important;font-size:1em}
fieldset .btn_submit {height:22px !important;font-size:1em}
.btn_cancel {display:inline-block;padding:0 10px;height:22px;border:1px solid #ccc;background:#fafafa;line-height:2em}
button.btn_cancel {display:inline-block;padding:0 10px;height:24px;border:1px solid #ccc;background:#fafafa;line-height:2em}
.btn_cancel:focus,
.btn_cancel:hover {text-decoration:none !important}
.btn_frmline {display:inline-block;padding:0 7px 0 5px;height:22px;border:0;background:#333;color:#fff !important;letter-spacing:-0.1em;text-decoration:none;vertical-align:top;line-height:2em} /* 우편번호검색버튼 등 */
button.btn_frmline {font-size:1em}
.btn_win {clear:both;margin-bottom:20px;text-align:center} /* 새창용 */
.btn_win a {display:inline-block;padding:0 10px;height:22px;border:1px solid #ccc;background:#fafafa;line-height:2em;cursor:pointer}
.btn_win a:focus,
.btn_win a:hover {text-decoration:none}
/* 게시판용 버튼 */
.btn_b01 {display:inline-block;padding:0 10px;height:23px;border:1px solid #eee !important;background:#fafafa !important;color:#000 !important;text-decoration:none !important;line-height:2.15em;vertical-align:middle}
.btn_b01:focus,
.btn_b01:hover {text-decoration:none !important}
.btn_b02 {display:inline-block;padding:0 10px;height:23px;border:1px solid #eee !important;background:#fafafa !important;color:#000 !important;text-decoration:none !important;line-height:2.15em;vertical-align:middle}
.btn_b02:focus,
.btn_b02:hover {text-decoration:none !important}
.btn_admin {display:inline-block;padding:0 10px;height:23px;border:1px solid #e8180c !important;background:#e8180c !important;color:#fff !important;text-decoration:none !important;line-height:2.15em;vertical-align:middle} /* 관리자 전용 버튼 */
.btn_admin:focus,
.btn_admin:hover {text-decoration:none !important}

/* 기본테이블 */
.basic_tbl {margin-bottom:10px;width:100%;border-collapse:collapse;border-spacing:0}
.basic_tbl caption {margin:0;padding:0;font-size:0;line-height:0;overflow:hidden}
.basic_tbl thead th {padding:12px 0 8px;background:#565e60;color:#fff}
.basic_tbl thead a {color:#fff}
.basic_tbl thead th input {vertical-align:top} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
.basic_tbl tfoot th {border-top:1px solid #666;border-bottom:1px solid #666;background:#484848;color:#fff}
.basic_tbl tfoot td {border-color:#666;background:#484848;color:#fff;font-weight:bold;text-align:center}
.basic_tbl td {padding:8px 5px 6px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;line-height:1.5em;word-break:break-all}
.basic_tbl a {}
.bo_sideview td {padding:6px 4px} /* 사이드뷰 사용하는 테이블 셀 패딩값 */
td.empty_table {padding:85px 0;text-align:center}

.empty_list {padding:85px 0;text-align:center}

/* 필수입력 */
.required {background:url('../img/wrest.gif') #f7f7f7 top right no-repeat !important}

/* 폼 테이블 */
.frm_tbl {margin-bottom:20px;width:100%;border-collapse:collapse;border-spacing:0}
.frm_tbl caption {padding:10px 0;color:#4b8b99;font-weight:bold;text-align:left}
.frm_tbl th {padding-left:10px;width:100px;border-top:1px solid #eee;border-bottom:1px solid #eee;font-weight:normal;text-align:left}
.frm_tbl td {padding:7px 10px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;background:transparent}
.frm_tbl textarea,
.frm_input {padding:2px 2px 3px;border:1px solid #b8c9c2;background:#f7f7f7;vertical-align:middle}
.frm_input:focus,
input.required:focus {padding:3px 3px 4px;border:0;background:#21272e !important;color:#fff}
.frm_tbl textarea {width:90%;height:150px}
.frm_address {display:block;margin-top:5px}
.frm_file {display:block;margin-bottom:5px}
.frm_tbl #captcha {margin:0;padding:0;border:0;background:transparent}
.frm_tbl #captcha input {margin-left:5px;text-align:center}
.frm_tbl a {text-decoration:none}

.frm_info {display:block;padding:5px 0 0;color:#666;line-height:1.3em}

/* 테이블 항목별 정의 */
.td_chk {width:30px;text-align:center}
.td_group {width:100px;text-align:center}
.td_board {width:120px;text-align:center}
.td_num {width:50px;text-align:center}
.td_bignum {width:80px;text-align:center}
.td_mb_id {width:100px;text-align:center}
.td_nick {width:100px;text-align:center}
.td_name {width:100px;text-align:left}
.td_date {width:60px;text-align:center}
.td_datetime {width:110px;text-align:center}
.td_mng {width:80px;text-align:center}

/* 새창 기본 스타일 */
.new_win {}
.new_win h1 {margin-bottom:20px;padding:0 20px;height:60px;border-top:3px solid #4e5d60;border-bottom:1px solid #e9e9e9;background:#fff;font-size:1.2em;line-height:5em}
.new_win table {margin:0 auto 20px !important;width:93% !important;background:#fff !important}
.new_win_ul {margin:-20px 0 20px 0;padding:0 0 0 20px;border-bottom:1px solid #455255;background:#484848;list-style:none;zoom:1}
.new_win_ul:after {display:block;visibility:hidden;clear:both;content:""}
.new_win_ul li {float:left;margin-left:-1px}
.new_win_ul a {display:block;padding:10px 10px 8px;border-right:1px solid #455255;border-left:1px solid #455255;color:#fff;font-family:"dotum";font-weight:bold;text-decoration:none}
.new_win_desc {margin:0 auto;width:93%}

/* 자바스크립트 alert 대안 */
#validation_check {margin:100px auto;width:500px}
#validation_check h1 {margin-bottom:20px;font-size:1.3em}
#validation_check p {margin-bottom:20px;padding:30px 20px;border:1px solid #e9e9e9;background:#fff}

/* 사이드뷰 */
.sv_wrap {display:inline-block;position:relative;font-weight:normal}
.sv_wrap .sv {z-index:1000;display:none;margin:5px 0 0;border:1px solid #283646;background:#111}
.sv_wrap .sv a {display:inline-block !important;margin:0 !important;padding:3px !important;width:94px;border-bottom:1px solid #283646;color:#fff !important}
.sv_wrap a:focus,
.sv_wrap a:hover,
.sv_wrap a:active {text-decoration:none !important}
.sv_on {display:block !important;position:absolute;top:10px;left:20px;width:auto;height:auto !important}
.sv_nojs .sv {display:block}

/* pagination */
.pg_wrap {clear:both;margin:0 0 20px;padding-top:20px;text-align:center}
.pg {display:inline-block;border:1px solid #cfded8;letter-spacing:-4px}
.pg a:focus,
.pg a:hover,
.pg a:active {text-decoration:none}
.pg_page,
.pg_current {display:inline-block;padding:0 12px;height:30px;color:#000;letter-spacing:0;line-height:2.6em;vertical-align:middle}
.pg_page {background:#f9f9f9;text-decoration:none}
.pg_start,
.pg_prev {border-right:1px solid #cfded8}
.pg_end,
.pg_next {border-left:1px solid #cfded8}
.pg_current {background:#333;color:#fff;font-weight:bold}