/* SIR SOFT 지운아빠 Jan 2013 */

/* 초기화 */
html {overflow-y:scroll}
body {margin:0;padding:0;background:#f7f7f2;font-size:0.75em;font-family:"dotum"}
html, body, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}
h1, h2, h3, h4, h5, h6 {font-size:1em;font-family:"dotum"}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
header ul, nav ul, footer ul {margin:0;padding:0;list-style:none}
label, input, select, img {vertical-align:middle}
input {margin:0;padding:0;font-family:"dotum"}
p {margin:0;padding:10px 0;line-height:1.5em}
hr {display:none}

/* 웹접근성 스킬 --- 기본 block 속성에는 적용 안됨*/
.sound_only {display:inline-block;margin:0;padding:0;width:0;height:0;border:0;overflow:hidden}
/* 본문 바로가기 */
#to_content a {z-index:100000;display:block;position:absolute;top:0;left:0;height:0;overflow:hidden}
#to_content a:focus,
#to_content a:active {padding:10px 0;width:100%;height:auto;background:#333;color:#fff;font-size:2em;text-align:center;text-decoration:none;overflow:auto}

/* 이미지 등비율 리사이징 */
.img_fix {float:left;margin-bottom:20px;width:100%;height:auto}

/* 캡챠 자동등록(입력)방지 기본 */
#captcha img {border:1px solid #ddd;border-right:0}
#captcha_wav img {border:1px solid #ddd;border-left:0;background:#494949}

/* 상단 레이아웃 */
#hd {margin-bottom:30px;height:100px;background:#fff}
#hd h1 {width:0;height:0;overflow:hidden}
#hd_wrapper {position:relative;margin:0 auto;width:980px}

#logo {padding-top:30px}

#snb {position:absolute;top:10px;right:190px;zoom:1}
#snb:after {display:block;visibility:hidden;clear:both;content:""}
#snb li {float:left}
#snb a {display:inline-block;padding:7px 10px 6px;color:#000;text-decoration:none}

#schall {position:absolute;top:10px;right:0;margin:0;padding:0;width:180px;border:0}
#schall legend {width:0;height:0;overflow:hidden}
#schall_stx {width:150px;height:21px;border:3px solid #484848;border-right:0;background:#fff}
#schall_submit {position:absolute;top:0;right:0}

/* 중간 레이아웃 */
#wrapper {margin:0 auto;padding-bottom:30px;width:980px;zoom:1}
#wrapper:after {display:block;visibility:hidden;clear:both;content:""}
#wrapper_title {font-size:1.2em}
#lnb {float:right;width:220px}
#container {float:left;width:730px;zoom:1}
#container:after {display:block;visibility:hidden;clear:both;content:""}

/* 하단 레이아웃 */
#ft {background:#484848}
#ft h1 {width:0;height:0;overflow:hidden}

#popular {background:#515151}
#popular div {margin:0 auto;width:980px;zoom:1}
#popular div:after {display:block;visibility:hidden;clear:both;content:""}
#popular h2 {float:left;padding:15px 45px 15px 0;color:#fff}
#popular ul {float:left;list-style:none}
#popular li {float:left;padding:5px 0}
#popular a {display:inline-block;padding:10px;color:#fff;text-decoration:none}

#visit {background:#444}
#visit div {margin:0 auto;width:980px;zoom:1}
#visit div:after {display:block;visibility:hidden;clear:both;content:""}
#visit h2 {float:left;padding:15px 45px 15px 0;color:#fff}
#visit dl {float:left;margin:0 0 0 10px;padding:5px 0}
#visit dt {float:left;margin:0;padding:10px 0 10px;color:#fff}
#visit dd {float:left;margin:0 30px 0 0;padding:10px;color:#fff}
#visit a {display:inline-block;margin:5px 0;padding:10px;color:#fff;text-decoration:none}
# {}

#ft_catch {padding:30px 0;text-align:center}

#ft_copy {background:#414141}
#ft_copy p {margin:0 auto;width:980px;color:#4a9ab8}
#ft_copy b {color:#079cd3}

/* ///// 콘텐츠별 스타일 ///// */
/* PC 초기화면 */
#idx_catch {margin-bottom:10px;padding: 25px 0 25px}

/* ///// 스킨별 스타일 ///// */
/* 아웃로그인 스킨 */
.ol {position:relative;margin-bottom:10px;padding:14px;border:1px solid #ddd;background:#fff}
.ol h2 {width:0;height:0;overflow:hidden}
.ol ul {margin:0;padding:0;list-style:none}
.ol a {color:#000;text-decoration:none}

#ol_before fieldset {position:relative}
#ol_id {display:block;margin:0 0 5px !important;margin:0 0 3px;width:188px;height:22px;border:1px solid #d1d1d1;background:#fff;line-height:1.6em}
.ol_idlabel {position:absolute;top:6px;left:5px;color:#696969;font-size:0.9em}
#ol_pw {display:block;margin:0 0 5px !important;margin:0 0 3px;width:188px;height:22px;border:1px solid #d1d1d1;background:#fff;vertical-align:top;line-height:1.6em}
.ol_pwlabel {position:absolute;top:35px;left:5px;color:#696969;font-size:0.9em}
#auto_login {}
#auto_login_label {letter-spacing:-0.1em}
#ol_submit {width:60px;height:24px;border:1px solid #d1d1d1;background:#f7f7f2;font-size:0.9em;font-weight:bold;letter-spacing:-0.1em;vertical-align:top}
#ol_before ul {float:right;margin:7px 0 13px;zoom:1}
#ol_before ul:after {display:block;visibility:hidden;clear:both;content:""}
#ol_before li {float:left;margin-left:5px;padding-top:2px}
#ol_before #ol_auto {float:left;margin:4px 0 0;padding:0}
#ol_before a {color:#000;letter-spacing:-0.1em}
#ol_svc {padding-top:8px;text-align:right}

#ol_after_hd {text-align:center}
#ol_after_private {margin:7px 0;zoom:1}
#ol_after_private:after {display:block;visibility:hidden;clear:both;content:""}
#ol_after_private li {float:left}
#ol_after_private a {display:block;height:37px;background:#f0f0f0;text-align:center;line-height:1.6em}
#ol_after_private a strong {display:block;color:#09aeeb}
#ol_after_memo {width:50px;margin-right:1px}
#ol_after_pt {width:90px;margin-right:1px}
#ol_after_scrap {width:48px;line-height:3.1em !important}
#ol_after_ft {text-align:right}
#ol_after_ft a {display:inline-block;margin-left:5px}

/* 설문조사 스킨 */
#poll {border:1px solid #ddd;background:#fff}
#poll header {padding:14px 14px 0}
#poll ul {margin:0 0 10px;padding:5px 14px;background:#f7f7f2;list-style:none}
#poll li {padding:3px 0}
#poll footer {padding:0 14px 14px;text-align:right}

/* 최근게시물 스킨 */
.lt {float:left;margin-bottom:20px;padding:20px;width:314px;height:149px;border-right:1px solid #ececec;border-bottom:1px solid #ececec;background:#fff}
.lt ul {margin:0;padding:0;list-style:none}
.lt li {padding:3px 0}
.lt a {color:#000;text-decoration:none}
.lt_title {display:block;margin-bottom:20px;text-align:center}
.lt_more {text-align:center}
.lt_more a {display:block}

/* 전체검색결과 스킨 */
#sch_result_detail {margin:0;padding:15px 0;border:0;text-align:right}
#sch_result {position:relative;padding:10px 0 0 0;border-top:1px solid #ddd;background:url('../img/sch_result_bg.jpg') repeat-y}
#sch_result ul {margin:0;padding:0;list-style:none}
#sch_result p {margin:5px 0;padding:0}
#sch_result_hd {margin:0;padding:0;zoom:1}
#sch_result_hd:after {display:block;visibility:hidden;clear:both;content:""}
#sch_result_hd dt {float:left;padding:10px 0 15px}
#sch_result_hd dd {float:right;margin:0;padding:10px 0 15px}
#sch_result_hd ul {float:left;padding:0;list-style:none}
#sch_result_hd li {float:left;padding:0 10px;border-right:1px solid #ddd}
#sch_result_bo {clear:both;float:left;margin:0;width:170px}
#sch_result_bo dt {margin:0;padding:0;height:0;border:0;overflow:hidden}
#sch_result_bo dd {margin:0}
#sch_result_bo ul {margin-top:1px}
#sch_result_bo li {position:relative;margin-top:-1px;height:40px}
#sch_result_bo a {position:absolute;top:0;left:0;padding:0 10px;width:149px;height:40px;border:1px solid #616161;border-right:0;background:#484848;color:#fff;text-decoration:none;line-height:3.4em}
#sch_result_bo .sch_on {width:150px;border-color:#ddd;border-right:0;background:#fff;color:#000;font-weight:bold}
#sch_result_bo .cnt_cmt {color:#000}
#sch_result_atc {float:left;margin:0;padding:15px 25px;width:508px;border:1px solid #ddd;background:#fff}
#sch_result_atc dt a {display:inline-block;margin-bottom:15px;color:#000;font-size:1.2em;font-weight:bold;text-decoration:none}
#sch_result_atc dd {margin:0 0 15px}
#sch_result_atc dd a {color:#000;text-decoration:none}
#sch_result_atc .sch_result_title {display:inline-block;margin-bottom:5px;font-size:1.2em;text-decoration:underline}
#sch_result_atc li {padding:13px 0;border-bottom:1px solid #f0f0f0}
#sch_result_atc p {padding:0 0 5px}
#sch_result_atc a {display:inline-block;margin:0 10px 0 0}
#sch_result_atc .cmt_def {display:inline-block;margin:0 10px 0 0}
.sch_more {padding:10px 0 15px;text-align:right}
.sch_more a {color:#000;text-decoration:none}
.sch_sideview {position:relative;padding-top:5px}
.sch_datetime {display:inline-block;margin-right:15px;color:#999}
.sch_word {font-weight:bold} /* 검색어 강조 */

/* paginate */
.pg {clear:both}