/* SIR 지운아빠 */

/* 초기화 */
html {overflow-y:scroll}
body {margin:0;padding:0;font-size:1em}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}
h1, h2, h3, h4, h5, h6 {font-size:1em}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
header ul, nav ul, footer ul {margin:0;padding:0;list-style:none}
legend {position:absolute;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
label, input, select, img {vertical-align:middle}
input,button {margin:0;padding:0}
input[type=text], input[type=password], input[type=submit], input[type=image], button {border-radius:0 !important;font-size:1em} /* 모바일에서만 사용 */
select, textarea {font-size:1em}
textarea {border-radius:0;-webkit-appearance:none}
p {margin:0;padding:1em 0;line-height:1.7em;word-break:break-all}
hr {display:none}
pre {overflow-x:scroll;font-size:1.1em}

/* 화면낭독기 사용자용 */
#hd_login_msg {position:absolute;top:0;left:0;width:0;height:0;overflow:hidden}
.msg_sound_only, .sound_only {display:inline-block;position:absolute;top:0;left:0;margin:0 !important;padding:0 !important;width:1px !important;height:1px !important;font-size:0 !important;line-height:0 !important;overflow:hidden}
/* 본문 바로가기 */
.to_content a {z-index:100000;position:absolute;top:0;left:0;width:0;height:0;font-size:0;line-height:0;overflow:hidden}

/* 이미지 등비율 리사이징 */
.img_fix {width:100%;height:auto}

/* 캡챠 자동등록(입력)방지 기본 */
#captcha audio {display:block;margin:0 0 0.5em}
#captcha input[type=text] {position:relative;top:0;left:-4px}
#captcha img {height:1.8em;border:1px solid #cfded8;border-right:0}

/* 상단 레이아웃 */
#hd {background:#fff}
#hd:after {display:block;visibility:hidden;clear:both;content:""}
#hd h1 {width:0;height:0;font-size:0;line-height:0;overflow:hidden}

#logo {float:left;padding:0.3em 0;margin-left:1em}

#schall {position:absolute;top:0.7em;right:1em;letter-spacing:-0.3em}
#schall_stx {padding-left:0.3em;width:100px;height:1.5em;border:1px solid #aaa;border-right:0;background:#fff;line-height:1.5em;-webkit-appearance:none}
#schall_submit {border:1px solid #aaa;border-left:0}

#mb_nb {clear:both;border-top:1px solid #e7f1ed;background:#151515;text-align:center}
#mb_nb li {display:inline-block;border-right:1px solid #333}
#mb_nb li:nth-last-of-type(1) {border-right:0 !important}
#mb_nb a {display:inline-block;padding:0.5em;color:#fff;text-decoration:none}
#mb_nb img {display:none}

#lnb {}
#lnb ul {padding-bottom:-1px;border-bottom:1px solid #e7f1ed}
#lnb ul:after {display:block;visibility:hidden;clear:both;content:""}
#lnb li {float:left;margin-bottom:-1px;width:20%}
#lnb a {display:block;padding:0.5em 0;border-right:1px solid #e7f1ed;border-bottom:1px solid #e7f1ed;color:#000;text-align:center;text-decoration:none}
#lnb li:nth-of-type(5n) a {border-right:0}

/* 배포시에는 필요없는 부분 */
#sirgle_title {padding:0 1em;height:100px;color:#fff;font-size:2em}
#sirgle_title_span {display:block;position:relative;top:33px;left:0}

/* 중간 레이아웃 */
#wrapper {margin:2em 0}
#wrapper:after {display:block;visibility:hidden;clear:both;content:""}
#wrapper_title {margin-bottom:1.5em;padding:0 0.7em;font-size:1.2em}

#container {position:relative;min-height:300px}
#container:after {display:block;visibility:hidden;clear:both;content:""}

/* 텍스트 크기 조절 */
#text_size {margin:0 0 1em;text-align:center}

/* 하단 레이아웃 */
#gnb {border-top:1px solid #c3c7c5;border-bottom:1px solid #c3c7c5;background:#f0f4f8}
#gnb:after {display:block;visibility:hidden;clear:both;content:""}
#gnb h2 {width:0;height:0;font-size:0;line-height:0;overflow:hidden}
#gnb ul {border-top:1px solid #e7f1ed}
#gnb li {float:left;width:25%;border-bottom:1px solid #e7f1ed}
#gnb li ul {display:none}
#gnb li a {display:block;padding:1em 0;border-right:1px solid #e7f1ed;color:#000;text-align:center;text-decoration:none}

.gnb_empty {float:none !important;width:100% !important;height:10em;text-align:center;line-height:10em}

#ft {background:#484848}
#ft h1 {width:0;height:0;font-size:0;line-height:0;overflow:hidden}

#ft img {display:none}

#ft_copy {background:#232323}
#ft_copy p {position:relative;padding:0.5em;color:#4a9ab8}
#ft_copy b {color:#fff}
#ft_copy a {color:#fff;text-decoration:none}

/* PC화면으로 */
#device_change {display:block;margin:0.3em;padding:0.5em 0;border:1px solid #eee;border-radius:2em;color:#000;font-size:1em;text-decoration:none;text-align:center}

/* 버튼 */
.btn01 {display:inline-block;padding:0 0.5em;height:2em;border:1px solid #ccc !important;background:#fafafa !important;color:#000 !important;font-size:1em;text-decoration:none !important;line-height:2em;vertical-align:middle}
.btn01:focus, .btn01:hover {text-decoration:none !important}
.btn02 {display:inline-block;padding:0 0.5em;height:2em;border:1px solid #333 !important;background:#333 !important;color:#fff !important;font-size:1em;text-decoration:none !important;line-height:2em;vertical-align:middle}
.btn02:focus, .btn02:hover {text-decoration:none !important}
.btn_confirm {text-align:center} /* 서식단계 진행 */
.btn_submit {padding:0 1em;height:2.6em;border:0;background:#333;color:#fff;letter-spacing:-0.1em;vertical-align:top;-webkit-appearance:none}
.btn_cancel {display:inline-block;padding:0 1em;height:2.5em;border:1px solid #ccc;background:#fafafa;color:#000;font-size:1em;text-decoration:none;line-height:2.5em}
.btn_frmline {display:inline-block;padding:0 0.3em;height:1.9em;border:0;background:#333;color:#fff !important;letter-spacing:-0.1em;text-decoration:none;vertical-align:top;line-height:1.9em} /* 우편번호검색버튼 등 */
.btn_win {clear:both;margin-bottom:1.5em;text-align:center} /* 새창용 */
.btn_win a {display:inline-block;padding:0 1em;height:2.5em;border:1px solid #ccc;background:#fafafa;color:#000;text-decoration:none;vertical-align:middle;line-height:2.5em}
.btn_win button {display:inline-block;padding:0 1em;height:2.65em;border:0;background:#666;color:#fff;text-decoration:none;vertical-align:middle;line-height:2.65em}
.btn_win input {height:2.65em;line-height:2.65em}
/* 게시판용 버튼 */
.btn_b01 {display:inline-block;margin:0 0 0.3em;padding:0 1em;border:1px solid #eee !important;background:#fafafa !important;color:#000 !important;text-decoration:none !important;line-height:2em;vertical-align:middle}
.btn_b01:focus, .btn_b01:hover {text-decoration:none !important}
.btn_b02 {display:inline-block;margin:0 0 0.3em;padding:0 1em;border:1px solid #eee !important;background:#fafafa !important;color:#000 !important;text-decoration:none !important;line-height:2em;vertical-align:middle}
.btn_b02:focus, .btn_b02:hover {text-decoration:none !important}
.btn_admin {display:inline-block;margin:0 0 0.3em;padding:0 1em;border:1px solid #e8180c !important;background:#e8180c !important;color:#fff !important;text-decoration:none !important;line-height:2em;vertical-align:middle} /* 관리자 전용 버튼 */
.btn_admin:focus, .btn_admin:hover {text-decoration:none !important}

/* 기본테이블 */
.basic_tbl {margin-bottom:1em;width:100%;border-collapse:collapse;border-spacing:0}
.basic_tbl caption {padding:0 0 1em;color:#777;text-align:left}
.basic_tbl thead th {padding:0.5em 0;background:#565e60;color:#fff}
.basic_tbl thead a {color:#fff}
.basic_tbl thead th input {vertical-align:top} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
.basic_tbl tfoot th {border-top:1px solid #666;border-bottom:1px solid #666;background:#484848;color:#fff}
.basic_tbl tfoot td {border-color:#666;background:#484848;color:#fff;font-weight:bold;text-align:center}
.basic_tbl td {padding:0.5em 0;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;line-height:1.5em;word-break:break-all}
.basic_tbl a {display:block;padding:0.5em;color:#000;text-decoration:none}
.bo_sideview td {} /* 사이드뷰 사용하는 테이블 셀 패딩값 */
td.empty_table {padding:5em 0;text-align:center}

/* 필수입력 */
.required {background:url('../img/wrest.gif') #f7f7f7 top right no-repeat !important}

/* 폼 테이블 */
.frm_tbl {margin-bottom:1.5em;width:100%;border-collapse:collapse;border-spacing:0}
.frm_tbl caption {padding:1em;color:#4b8b99;font-weight:bold;text-align:left}
.frm_tbl th {padding:0.4em;width:110px;border:1px solid #e9e9e9;border-left:0;vertical-align:top;text-align:left}
.frm_tbl td {padding:0.4em 0.5em;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;background:transparent}
.frm_tbl textarea, .frm_input {border:1px solid #b8c9c2;background:#f7f7f7;vertical-align:middle;line-height:1.8em;-webkit-appearance:none}
.frm_input:focus, input.required:focus {border:1px solid #b8c9c2;background:#21272e !important;color:#fff;line-height:1.8em}
.frm_tbl textarea {width:90%;height:150px}
.frm_address {display:block;margin-top:0.3em}
.frm_file {display:block;margin-bottom:0.3em}
.frm_tbl #captcha {margin:0;padding:0;border:0;background:transparent}
.frm_tbl #captcha input {margin-left:0.3em;text-align:center}
.frm_tbl a {text-decoration:none}

.frm_info {display:block;padding:0.3em 0 0;color:#666;line-height:1.3em}

/* 테이블 항목별 정의 */
.td_chk {width:30px;text-align:center}
.td_group {width:100px;text-align:center}
.td_board {width:120px;text-align:center}
.td_num {width:50px;text-align:center}
.td_bignum {width:80px;text-align:center}
.td_mb_id {width:100px;text-align:center}
.td_nick {width:100px;text-align:center}
.td_name {width:100px;text-align:left}
.td_date {width:60px;text-align:center}
.td_datetime {width:130px;text-align:center}
.td_mng {width:80px;text-align:center}

/* 광고 레이아웃 */
.ad200200 {display:none}
.ad72890 {display:none}

/* 새창 기본 스타일 */
.new_win {}
.new_win h1 {margin-bottom:1.5em;padding:0 1.5em;height:3em;border-top:3px solid #4e5d60;border-bottom:1px solid #e9e9e9;font-size:1.2em;line-height:3.5em}
.new_win table {margin:0 auto 1.5em !important;width:90% !important}
.new_win caption {padding:1em}
.new_win_ul {margin:-1.8em 0 1.5em 0;padding:0 0 0 1.5em;border-bottom:1px solid #455255;background:#484848;list-style:none}
.new_win_ul:after {display:block;visibility:hidden;clear:both;content:""}
.new_win_ul li {float:left;margin-left:-1px}
.new_win_ul a {display:block;padding:1em 1em 8px;border-right:1px solid #455255;border-left:1px solid #455255;color:#fff;font-weight:bold;text-decoration:none}
.new_win_desc {padding:1em}

/* 사이드뷰 */
/* 현재 모바일에서는 사이드뷰를 사용하지 않습니다.
.sv_wrap {display:inline-block;position:relative;font-weight:normal}
.sv_wrap img {vertical-align:middle}
.sv_wrap a {display:inline-block;color:#000;text-decoration:none;vertical-align:middle}
*/

/* pagination */
.pg_wrap {clear:both;margin:0 0 1em;padding-top:1em;text-align:center}
.pg {display:inline-block;border:1px solid #cfded8;letter-spacing:-4px}
.pg a:focus, .pg a:hover, .pg a:active {text-decoration:none}
.pg_page, .pg_current {display:inline-block;padding:0 0.6em;color:#000;letter-spacing:0;line-height:1.9em;vertical-align:middle}
.pg_page {background:#f9f9f9;text-decoration:none}
.pg_start, .pg_prev {border-right:1px solid #cfded8}
.pg_end, .pg_next {border-left:1px solid #cfded8}
.pg_current {background:#333;color:#fff;font-weight:bold}