@charset "utf-8";
/* SIR 지운아빠 */

/* 초기화 */
html {overflow-y:scroll}
body {margin:0;padding:0;background:#fff;color:#000;font-size:1em;font-family:"dotum"}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}
h1, h2, h3, h4, h5, h6 {font-size:1em;font-family:"dotum"}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
header ul, nav ul, footer ul {margin:0;padding:0;list-style:none}
label, input, select, img {vertical-align:middle}
input {margin:0;padding:0;border-radius:0;font-family:"dotum"}
button {border-radius:0;font-size:1em;font-family:"dotum"}
input[type=text], input[type=password], input[type=submit], input[type=image], button {border-radius:0 !important;font-size:1em} /* 모바일에서만 사용 */
p {margin:0;padding:1em 0;line-height:1.7em;word-break:break-all}
hr {display:none}
pre {overflow-x:scroll;font-size:1.1em}
a:link, a:visited {color:#000;text-decoration:none}
a:hover, a:focus, a:active {color:#000;text-decoration:underline}

/* 상단 레이아웃 */
#header {margin:0 0 1em;padding:1em 0;border-bottom:1px solid #e9e9e9;text-align:center}
#header h1 {position:absolute;font-size:0;line-height:0;overflow:hidden}

#hd_ct {position:absolute;top:1em;left:1em;padding:0 1em;height:2.6em;border:0;background:#333;color:#fff;font-size:1em;text-decoration:none;letter-spacing:-0.1em;vertical-align:top;line-height:2.6em;cursor:pointer;-webkit-appearance:none}

#hd_sch_open {position:absolute;top:1em;right:1em;padding:0 1em;height:2.6em;border:0;background:#333;color:#fff;font-size:1em;letter-spacing:-0.1em;vertical-align:top;cursor:pointer;-webkit-appearance:none}

#hd_sch {display:none;z-index:10;position:absolute;top:0;left:0;padding:2.2em 0;width:100%;background:#f5f6fa;text-align:center}
#hd_sch h2 {margin:0 0 1em}
#hd_sch .frm_input {height:2.5em;border-color:#999;background:#fff;line-height:2.5em}
#hd_sch .pop_close {position:absolute;bottom:0.5em;right:0.5em;border:0;background:transparent}

#hd_mb {margin:1em 1em 0;text-align:center}
#hd_mb li {display:inline-block;margin:0 0 0 1em}
#hd_mb a {display:block;text-decoration:none}

/* 중간 레이아웃 */
#container {padding:0.5em}
#container_title {margin-bottom:1em;padding:0 1em;font-size:1.2em}

/* 하단 레이아웃 */
#footer {margin:2em 0 0;padding:2em 0 0;border-top:1px solid #e9e9e9;font-size:0.6em;text-align:center}
#footer h1 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#ft_to_top {display:block;margin:1em 0 2em}

/* 목록 바로가기 */
.sanchor {margin:0 0 0.5em;padding:0;zoom:1}
.sanchor:after {display:block;visibility:hidden;clear:both;content:""}
.sanchor li {float:left;margin-left:-1px;list-style:none}
.sanchor a {display:inline-block;border:1px solid #e9e9e9;background:#f5f6fa;padding:0 0.5em;text-decoration:none;line-height:2.6em}
.sanchor a:focus, .sanchor a:hover {background:#626870;color:#fff;text-decoration:none}
a.sanchor_on {background:#626870;color:#fff !important;text-decoration:none}

/* ########## 쇼핑몰 컨텐츠 ########## */
/* 인덱스 이미지 출력 */
#sidx {padding:0}

/* 상품 목록 */
#sct {}
.sct_admin {margin:0 0 1em;text-align:right}

/* 상품 목록 현재 위치 */
#sct_location {border:1px solid #e9e9e9;background:#f5f6fa;letter-spacing:-4px}
#sct_location a {display:inline-block;padding:0.7em 1em;text-decoration:none;letter-spacing:0 !important}
.sct_here {font-weight:bold}
.sct_bg {padding-right:1.3em !important;background:url('../shop/img/sct_bg_toright.gif') right 0.9em no-repeat}

/* 상품 목록 카테고리 목록 */
.sct_ct {}
.sct_ct h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
.sct_ct ul {margin:0 0 1em;padding:1em;border-bottom:1px solid #e9e9e9;list-style:none;zoom:1}
.sct_ct ul:after {display:block;visibility:hidden;clear:both;content:""}
.sct_ct a {text-decoration:none}
.sct_ct_parent {font-weight:bold}
.sct_ct_here {color:#ff3600 !important}

#sct_ct_1 li {float:left;margin:0 1em 1em 0;width:120px}
#sct_ct_2 li {margin:0 0 1em}
#sct_ct_2 a {display:inline-block;width:120px}
#sct_ct_3 li {float:left;margin:0 1em 1em 0;width:120px}

/* 상품 정렬 */
#sct_sort {float:left;margin:1em 0;zoom:1}
#sct_sort:after {display:block;visibility:hidden;clear:both;content:""}
#sct_sort h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#sct_sort ul {margin:0;padding:0;list-style:none;zoom:1}
#sct_sort ul:after {display:block;visibility:hidden;clear:both;content:""}
#sct_sort li {float:left;position:relative;margin-left:-1px}
#sct_sort .btn01 {font-size:0.75em}

/* 상품 리스트 스타일 선택 */
#sct_lst {float:right;margin:1em 0;padding:0;list-style:none;zoom:1}
#sct_lst:after {display:block;visibility:hidden;clear:both;content:""}
#sct_lst li {position:relative;float:left;margin:0 0 0 -1px}
#sct_lst button {position:relative;margin:0 0 0 -5px;padding:0;width:25px;height:25px;border:1px solid #ccc;cursor:pointer}
#sct_lst button span {position:absolute;top:0;left:0;width:100%;height:100%;background:url('../shop/img/is_list_style.gif')}
#sct_lst button.sct_lst_list span {background-position:0 0}
#sct_lst button.sct_lst_list span.sct_lst_on {background-position:0 -30px}
#sct_lst button.sct_lst_gallery span {background-position:-30px 0}
#sct_lst button.sct_lst_gallery span.sct_lst_on {background-position:-30px -30px}

/* ##### maintype(nn).inc.php, list.skin.(nn).php 공통 적용 시작 ##### */
/* 공통 */
.sct_wrap {margin:0 0 2em;zoom:1}
.sct_wrap:after {display:block;visibility:hidden;clear:both;content:""}
.sct_wrap header {margin:0 0 1.8em;zoom:1}
.sct_wrap header:after {display:block;visibility:hidden;clear:both;content:""}
.sct_wrap h2 {float:left;margin:0 1.8em 0 0;padding:0;line-height:1em}
.sct_wrap h2 a {text-decoration:none}
.sct_wrap_hdesc {float:left;margin:0;padding:0;color:#777;line-height:1em}

.sct {margin:0;padding:0;list-style:none;zoom:1}
.sct:after {display:block;visibility:hidden;clear:both;content:""}
.sct_li {position:relative}
.sct_noitem {padding:100px 0;text-align:center}
.sct_nofile {padding:100px 0;text-align:center}

/* 상품 목록 스킨 10 */
.sct_10 {padding:1em 0 0}
.sct_10 .sct_li {display:inline-block;margin:0 0.8em 1em 0;width:230px}
.sct_10 .sct_a {display:block;position:relative;text-decoration:none}
.sct_10 .sct_a:focus,
.sct_10 .sct_a:hover {text-decoration:none}
.sct_10 .sct_img {display:block;margin:0 0 15px}
.sct_10 b {display:block;margin:0 0 0.8em;font-weight:normal}
.sct_10 s {display:block}
.sct_10 .sct_cost {display:block;margin:0 0 1em;font-weight:bold}
.sct_10 .sct_icon {position:absolute;top:10px;left:-5px;margin:0 !important}
.sct_10 .sct_icon img {display:block}
.sct_10 .sct_sns {position:absolute;top:190px;right:20px}

.sct_11 .sct_li {width:100%;border-bottom:1px solid #e9e9e9}
.sct_11 .sct_a {display:block;position:relative;padding:1em;text-decoration:none;zoom:1}
.sct_11 .sct_a:after {display:block;visibility:hidden;clear:both;content:""}
.sct_11 .sct_a:focus,
.sct_11 .sct_a:hover {text-decoration:none}
.sct_11 .sct_arw_toleft {display:block;z-index:2;position:absolute;top:1.8em;left:2.8em;width:1em;height:1.8em;background:url('../../shop/img/icon_arw_toleft.gif') no-repeat}
.sct_11 .sct_img {float:left;margin:0 1em 0 0}
.sct_11 b {display:block;margin:0 0 1em;font-size:1.2em;letter-spacing:-0.1em}
.sct_11 p {margin:0 0 1em;padding:0;line-height:1.5em}
.sct_11 s {display:block}
.sct_11 .sct_cost {display:block;margin:0 0 0.8em;font-weight:bold}
.sct_11 .sct_icon {position:absolute;bottom:2em;left:-5px;margin:0 !important}
.sct_11 .sct_icon img {display:block}
.sct_11 .sct_sns {position:absolute;top:2em;right:2em}
/* ##### maintype(nn).inc.php, list.skin.(nn).php 공통 적용 끝 ##### */

/* 상품 상세보기 */
#sit {margin:0.5em 0;border-top:1px solid #e9e9e9}
.sit_admin {margin:1em 1em 0;text-align:right}
.sit_empty {padding:2em 0;text-align:center}

/* 상품 상세보기 - 개요 */
#sit_ov_wrap {margin:0 0 2em;border-bottom:1px solid #e9e9e9;zoom:1}
#sit_ov_wrap:after {display:block;visibility:hidden;clear:both;content:""}

/* 상품 상세보기 - 이미지 미리보기 */
#sit_pvi {position:relative;border-bottom:1px solid #e9e9e9;text-align:center}
/*
#sit_pvi_big {margin:0 0 1em}
#sit_pvi_big a {display:inline-block}
#sit_pvi_big img {width:300px;height:300px}
*/

#sit_pvi_prev {position:absolute;top:0;left:0}
#sit_pvi_next {position:absolute;top:0;right:0}
.sit_pvi_btn {z-index:10;width:2em;height:280px;border:0;background:#f5f6fa;display:none;}

#sit_pvi_slide {position:relative;margin:0 auto;padding:0;list-style:none;width:280px;height:280px;overflow-x:hidden}
#sit_pvi_slide li {display:none;position:absolute;left:0;top:0}
#sit_pvi_slide img {width:280px;height:280px}

#sit_pvi_nw h1 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#sit_pvi_nwbig {padding:1em 0;text-align:center}
#sit_pvi_nwbig span {display:none}
#sit_pvi_nwbig span.visible {display:inline}
#sit_pvi_nw ul {margin:0 0 1.18em;padding:0 1em;list-style:none;zoom:1}
#sit_pvi_nw ul:after {display:block;visibility:hidden;clear:both;content:""}
#sit_pvi_nw li {float:left;margin:0 0 0 1px}
#sit_pvi_nw li img {width:60px;height:60px}

/* 상품 상세보기 - 간략정보 및 구매기능 */
#sit_ov {position:relative;padding:50px 1.3em 1.3em;height:auto !important;height:355px;min-height:355px;background:#f5f6fa}
#sit_ov h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#sit_ov h3 {margin:0 0 10px}

#sit_title {display:inline-block;margin:0 0 0.3em;font-size:1.3em}
#sit_desc {display:inline-block;margin:0 0 1em;color:#999}
.sit_icon {display:block;margin:0.3em 0 0}
.sit_icon img {margin:0 1px 0 0}

#sit_star_sns {position:absolute;top:15px;right:15px;color:#b8afa2;font-size:0.95em;letter-spacing:-0.1em}
#sit_star_sns span {display:inline-block;margin:0 0.3em 0 0;color:#666;letter-spacing:0}
#sit_star_sns .sit_star {position:relative;top:-2px;margin:0 5px 0 0}
#sit_star_sns a {position:relative;top:-2px}

.sit_ov_tbl {margin-bottom:2em;width:100%;border:0;border-collapse:collapse}
.sit_ov_tbl th {border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;font-weight:normal;text-align:left}
.sit_ov_tbl td {padding:0.7em 0;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9}
.sit_ov_ro {padding:2px 2px 3px;border:0;background:transparent;text-align:right;vertical-align:middle}
.sit_ov_opt {padding:2px 2px 3px;border:0;background:transparent;vertical-align:middle}
.sit_ov_input {height:1.8em;border:1px solid #b8c9c2;background:transparent;vertical-align:middle}
.sit_ov_tbl button {margin:0}

.sit_sel_btn {position:relative;top:-1.5em;right:-2px} /* 선택옵션용 추가 버튼 */
.sit_sel_btn button {width:100%}

.td_sit_sel {position:relative}
.sit_sel_submit {margin:0.3em 0 0 !important;width:100%}

#sit_opt_added {margin:0;padding:0;border:1px solid #e9e9e9;border-bottom:0;background:#fff;list-style:none}
#sit_opt_added li {padding:1em 2em;border-bottom:1px solid #e9e9e9}
#sit_opt_added li div {margin:0.5em 0 0;text-align:right}
#sit_opt_added .btn_frmline {height:1.85em;line-height:1.85em}

#sit_tot_price {margin:20px 0;font-size:1.3em;font-weight:bold}

#sit_ov_btn {margin:0;padding:0;text-align:center;list-style:none}
#sit_ov_btn li {display:inline-block;margin:0 0 0 1px}
#sit_ov_btn a {display:inline-block;padding:1em 0 0.7em;width:80px;font-size:0.95em;text-align:center;text-decoration:none;letter-spacing:-0.1em}
#sit_btn_buy {background:#ff5b89;color:#fff}
#sit_btn_cart, #sit_btn_wish {background:#555;color:#fff}
#sit_btn_rec {background:#888;color:#fff}

/* 상품 상세보기 - 다른 상품 보기 */
#sit_siblings {margin:0 0 1em;padding:1em 1em 2em;border-bottom:1px solid #e9e9e9;text-align:center}
#sit_siblings h2 {position:absolute;font-size:0;line-height:0;content:""}

/* 상품 상세보기 - 상품정보 */
#sit_inf {margin:0 0 1em;padding:1em 1em 2em;border-bottom:1px solid #e9e9e9}
#sit_inf h2 {margin:0 0 1em}
#sit_inf h3 {position:absolute;font-size:0;line-height:0;content:""}

#sit_inf_basic {margin:0 0 1em}
#sit_inf_explan {margin:0 0 1em}
#sit_inf_explan img {max-width:100%;height:auto}

#sit_inf_open {width:100%;border:0;border-collapse:collapse}
#sit_inf_open th {padding:0.5em 1em;border:1px solid #fff;background:#f5f6fa;text-align:left}
#sit_inf_open td {padding:0.5em 1em;border:1px solid #fff;background:#f5f6fa}

/* 상품 상세보기 - 사용후기 */
#sit_use {margin:0 0 1em;padding:1em 1em 2em;border-bottom:1px solid #e9e9e9}
#sit_use h2 {margin:0 0 1em}
#sit_use h3 {margin:0 0 1em}

#sit_use_ol {margin:0 0 5px;padding:0;border-top:1px solid #e9e9e9;list-style:none}
.sit_use_li {position:relative;padding:0 0 1em;border-bottom:1px solid #e9e9e9;background:#f5f6fa}
.sit_use_li_title {display:block;margin:0;padding:1em;width:100%;border:0;background:transparent;text-align:left;cursor:pointer}

.sit_use_dl {margin:0;padding:0 1em;zoom:1}
.sit_use_dl:after {display:block;visibility:hidden;clear:both;content:""}
.sit_use_dl dt {float:left;margin:3px 0 0}
.sit_use_dl dd {float:left;margin:3px 1.8em 0 0.3em}
.sit_use_star {margin:0 !important;padding:0 0 0 0.7em}

.sit_use_con {display:none;padding:1em 1em 0}
.sit_use_p {margin:0 0 10px;padding:10px;border:1px solid #e9e9e9;background:#fff}
.sit_use_cmd {text-align:right}

#sit_use_wbtn {margin:0 0 0.3em;text-align:right}

/* 상품 상세보기 - 상품문의 */
#sit_qa {margin:0 0 1em;padding:1em 1em 2em;border-bottom:1px solid #e9e9e9}
#sit_qa h2 {margin:0 0 1em}
#sit_qa h3 {margin:0 0 1em}

#sit_qa_ol {margin:0 0 0.5em;padding:0;border-top:1px solid #e9e9e9;list-style:none}
.sit_qa_li {position:relative;padding:0 0 1em;border-bottom:1px solid #e9e9e9;background:#f5f6fa}
.sit_qa_li_title {display:block;margin:0;padding:1em;width:100%;border:0;background:transparent;text-align:left;cursor:pointer}

.sit_qa_dl {margin:0;padding:0 1em;zoom:1}
.sit_qa_dl:after {display:block;visibility:hidden;clear:both;content:""}
.sit_qa_dl dt {float:left}
.sit_qa_dl dd {float:left;margin:0 1.8em 0 0.3em}

.sit_qa_con {display:none;padding:1em 1em 0}
.sit_qa_p {margin:0 0 1em;padding:1em;border:1px solid #e9e9e9;background:#fff}
.sit_qa_p strong {display:inline-block;margin:0 0 1em}
.sit_qa_qaq {margin:0 0 2em}
.sit_qa_con textarea {display:none}
.sit_qa_cmd {text-align:right}

.sit_qa_pw {display:none;position:absolute;top:30px;left:175px;padding:1em;width:348px;border:1px solid #000;background:#fff;text-align:center}
.sit_qa_pw span {display:block;margin:0 0 0.3em}

#sit_qa_wbtn {margin:0 0 0.3em;text-align:right}

#sit_qa_w {display:none}

/* 상품 상세보기 - 배송정보 */
#sit_dvr {margin:0 0 1em;padding:1em 1em 2em;border-bottom:1px solid #e9e9e9}
#sit_dvr h2 {margin:0 0 1em}

/* 상품 상세보기 - 교환정보 */
#sit_ex {margin:0 0 1em;padding:1em 1em 2em;border-bottom:1px solid #e9e9e9}
#sit_ex h2 {margin:0 0 1em}

/* 상품 상세보기 - 관련상품 */
#sit_rel {margin:0 0 1em;padding:1em 1em 0}
#sit_rel h2 {margin:0 0 1em}
#sit_rel .sct_img {width:230px;height:230px}

/* 사용후기 모음 */
#sps_sch {margin:0 0 10px}
#sps_sch a {display:inline-block;padding:0 8px;height:1.8em;background:#333;color:#fff;text-decoration:none;vertical-align:middle;line-height:1.8em}
#sps_sch .btn_submit {height:1.8em;vertical-align:middle;line-height:1.8em}

#sps {zoom:1}
#sps ol {margin:0;padding:0;border-top:1px solid #e9e9e9;list-style:none}
#sps li {position:relative;padding:1em;border-bottom:1px solid #e9e9e9}
#sps li:after {display:block;visibility:hidden;clear:both;content:""}

.sps_img {float:left;width:15%}
.sps_img span {position:absolute;font-size:0;line-height:0}

#sps dl {margin:0.3em 0 1em;zoom:1}
#sps dl:after {display:block;visibility:hidden;clear:both;content:""}
#sps dt {float:left}
#sps dd {float:left;margin:0 1.5em 0 0.3em}
#sps dd img {position:relative;top:-2px}

.sps_section {float:right;width:80%}
.sps_section p {padding:0;width:100%;height:1.8em;overflow:hidden}
.sps_con_full {padding:0;height:auto !important}
.sps_con_btn {margin:0.3em 0 0;text-align:right}
.sps_con_btn button {margin:0;padding:0.3em;border:0;background:#565e60;color:#fff}

/* 상품문의 모음 */
#sqa_sch {margin:0 0 10px}
#sqa_sch a {display:inline-block;padding:0 8px;height:1.8em;background:#333;color:#fff;text-decoration:none;vertical-align:middle;line-height:1.8em}
#sqa_sch .btn_submit {height:1.8em;vertical-align:middle;line-height:1.8em}

#sqa {zoom:1}
#sqa ol {margin:0;padding:0;border-top:1px solid #e9e9e9;list-style:none}
#sqa li {position:relative;padding:1em;border-bottom:1px solid #e9e9e9}
#sqa li:after {display:block;visibility:hidden;clear:both;content:""}

.sqa_img {float:left;width:15%}
.sqa_img span {position:absolute;font-size:0;line-height:0}

#sqa dl {margin:0.3em 0 1em;zoom:1}
#sqa dl:after {display:block;visibility:hidden;clear:both;content:""}
#sqa dt {float:left}
#sqa dd {float:left;margin:0 1.5em 0 0.3em}
#sqa dd img {position:relative;top:-2px}

.sqa_section {float:right;width:80%}
.sqa_section .sqa_con {padding:1em;background:#f2f5f9;line-height:1.7em}
.sqa_section p {padding:0;width:100%;height:1.8em;overflow:hidden}
.sqa_con_full {padding:0;height:auto !important}
.sqa_con_btn {margin:0.3em 0 0;text-align:right}
.sqa_con_btn button {margin:0;padding:0.3em;border:0;background:#565e60;color:#fff}

/* 마이페이지 */
#smb_my {}

#smb_my_ov {margin:0 0 2em}
#smb_my_ov h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#smb_my_ov dl {margin:0;border-top:1px solid #e9e9e9;background:#f5f6fa;zoom:1}
#smb_my_ov dl:after {display:block;visibility:hidden;clear:both;content:''}
#smb_my_ov dt {float:left;padding:0.8em;width:30%;border-bottom:1px solid #e9e9e9;font-weight:bold}
#smb_my_ov dd {margin:0;padding:0.8em 0;border-bottom:1px solid #e9e9e9}

#smb_my_od {margin:0 0 1.8em}
#smb_my_od h2 {margin:0 0 1em}
#smb_my_od .td_stat {width:100px}

#smb_my_wish h2 {margin:0 0 1em}

.smb_my_img {width:90px;text-align:center}

/* 장바구니 */
#sod_bsk {}
.sod_bsk_img {width:90px;text-align:center}
.sod_bsk_itopt {margin:5px 0;border:1px solid #e9e9e9;border-bottom:0;background:#f5f6fa}
.sod_bsk_itopt ul {margin:0;padding:0;list-style:none}
.sod_bsk_itopt li {padding:0.5em;border-bottom:1px solid #e9e9e9}
.sod_option_btn .mod_options {margin:0 0 1em;padding:0.5em 0;width:100%;border:0;background:#333;color:#fff}

#sod_bsk_list {position:relative}
#sod_bsk_list #mod_option_frm {z-index:10000;position:absolute;top:0;left:0;padding:20px;width:320px;height:auto !important;height:480px;max-height:480px;border:1px solid #000;background:#f5f6fa;overflow-y:scroll}
html.no-overflowscrolling #mod_option_frm {height:auto;max-height:10000px !important} /* overflow 미지원 기기 대응 */

#sod_bsk_tot {margin:0;padding:1em;border:1px solid #e9e9e9;background:#f5f6fa;zoom:1}
#sod_bsk_tot:after {display:block;visibility:hidden;clear:both;content:""}
#sod_bsk_tot dt, #sod_bsk_tot dd {float:left;padding:1em 0;border-bottom:1px solid #e9e9e9}
#sod_bsk_tot dt {padding-left:2%;width:48%;font-weight:bold}
#sod_bsk_tot dd {margin:0;padding-right:2%;width:47%;text-align:right}
.sod_bsk_cnt {background:#333;color:#fff}
.sod_bsk_point {border-bottom:0 !important}

#sod_bsk_act {margin:0 0 2em;text-align:center}
#sod_bsk_act p {margin:0}

/* 위시리스트 */
#sod_ws {}
#sod_ws .basic_tbl a {padding-right:0;padding-left:0}
.sod_ws_img {width:90px;text-align:center}
#sod_ws_act {text-align:center}

/* 주문서 작성 */
#sod_frm {}
#sod_frm h2 {margin:0 0 1em}

#sod_list {position:relative}
#sod_list #it_coupon_frm {z-index:10000;position:absolute;top:0;left:0;padding:20px;width:320px;height:auto !important;height:480px;max-height:480px;border:1px solid #000;background:#f5f6fa;overflow-y:scroll}
html.no-overflowscrolling #it_coupon_frm {height:auto;max-height:10000px !important} /* overflow 미지원 기기 대응 */

#sod_frm_orderer {margin:1.8em 0 3.6em}

#sod_frm_addr {position:relative}
#sod_frm_addr div {position:absolute;top:10px;left:185px;letter-spacing:-0.1em}

#sod_frm_same {margin:0 0 1em}

#sod_frm #od_memo {height:7em}

#sod_frm_pay {position:relative}
#sod_frm_pay .basic_tbl caption {font-size:0;line-height:0;overflow:hidden}
#sod_frm_pay .basic_tbl th {width:auto !important;font-weight:bold;text-align:center !important}
#sod_frm_pay .basic_tbl td {border-top:1px solid #e9e9e9 !important;border-bottom:1px solid #e9e9e9 !important;line-height:1.5em !important;word-break:break-all !important}
#sod_frm_pay #sc_coupon_frm, #sod_frm_pay #od_coupon_frm {z-index:10000;position:absolute;top:0;left:0;padding:20px;width:320px;height:auto !important;height:480px;max-height:480px;border:1px solid #000;background:#f5f6fa;overflow-y:scroll}
html.no-overflowscrolling #sc_coupon_frm, html.no-overflowscrolling #od_coupon_frm {height:auto;max-height:10000px !important} /* overflow 미지원 기기 대응 */

#sod_frm_paysel {margin:0 0 1.8em;padding:1em;border:1px solid #e9e9e9;background:#f5f6fa;text-align:center}
#sod_frm_paysel legend {position:absolute;font-size:0;line-height:0;overflow:hidden}
#settle_bank {margin:1em 0 0}

#sod_frm_escrow {margin:2.8em 0 0}

/* 주문내역 */
#sod_v {}
#sod_v .td_stat {width:100px}

/* 주문상세내역 */
#sod_fin {}
#sod_fin_legend {margin:1em;padding:0.6em 0.3em 0;border:1px solid #e9e9e9;zoom:1}
#sod_fin_legend:after {display:block;visibility:hidden;clear:both;content:''}
#sod_fin_legend dt {clear:both;float:left;margin:0 0 0.3em;width:50px;font-weight:bold}
#sod_fin_legend dd {float:left;margin:0}

#sod_fin_list h2 {padding:0 1em}

#sod_ul {margin:0 0 0.5em;padding:0;border-top:1px solid #565e60;list-style:none}
#sod_ul li {padding:0;border-bottom:1px solid #565e60}
#sod_ul table {margin:0}
#sod_ul th {text-align:center}
#sod_ul td {background:#fff;color:#000}
#sod_ul p {padding:0.5em 1em}
#sod_ul p a {font-weight:bold;text-decoration:none}

#request_form {position:relative}
#request_form div {display:none;z-index:10000;position:absolute;top:31px;left:0;padding:1em 0;width:290px;border:1px solid #000;background:#f5f6fa;text-align:center}
#request_form label {letter-spacing:-0.1em}
#request_form .frm_input {width:170px;background:#fff !important}
#request_form .btn_frmline, #request_form .btn_cancel {margin:0.5em 0 0;padding:0 0.5em;height:1.9em;vertical-align:middle !important;line-height:1.9em}

#sod_req_btn {margin:0 0 10px}
#sod_req_btn button {background:#626870}

#sod_req_log {margin:0 0 20px}
#sod_req_log ul {margin:0;padding:0;border-top:1px solid #e9e9e9;background:#f5f6fa;list-style:none}
#sod_req_log li {padding:10px 10px 20px;border:1px solid #e9e9e9;border-top:0}
#sod_req_log h3 {margin:20px 0 10px}
.sod_req_log_view table {margin:0}
.sod_req_log_view caption {padding:10px 0;font-size:1em;font-weight:bold;text-align:left;line-height:1em}
.sod_req_log_view caption span {color:#ff3061}
.sod_req_log_view th {border-top:1px solid #e9e9e9;background:#f7f7f7 !important;color:#000 !important;text-align:center}
.sod_req_log_view td {background:#fff;color:#000}
.sod_req_log_view p {padding:10px 15px;border-bottom:1px solid #e9e9e9;background:#fff;color:#000}
.sod_req_log_view button {margin:0;padding:0;border:0;background:transparent;color:#ff3061;text-decoration:underline;vertical-align:middle;cursor:pointer}

#sod_fin_view {border:1px solid #e9e9e9}
#sod_fin_view h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#sod_fin_view h3 {margin:0 0 1em}
#sod_fin_view .basic_tbl th {padding:0 1em;border-top:1px solid #eee;border-bottom:1px solid #eee;background:#f5f6fa;text-align:left}

#sod_fin_pay {padding:1em;border-bottom:1px solid #e9e9e9}

#sod_fin_orderer {padding:1em;border-bottom:1px solid #e9e9e9}

#sod_fin_receiver {padding:1em;border-bottom:1px solid #e9e9e9}

#sod_fin_dvr {padding:1em}

#sod_fin_tot {margin:0 0 2.8em;padding:1em;border:1px solid #e9e9e9;border-top:0;background:#565e60;color:#fff}
#sod_fin_tot h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#sod_fin_tot ul {margin:0;padding:0;list-style:none}
#sod_fin_tot li {padding:1em;border-bottom:1px solid #6f7a7d;zoom:1}
#sod_fin_tot li:after {display:block;visibility:hidden;clear:both;content:""}
#sod_fin_tot #alrdy {border-bottom:0 !important}
#sod_fin_tot strong {float:right}

#sod_fin_cancel {text-align:center}
#sod_fin_cancel h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#sod_fin_cancel button {padding:1em;border:0;background:#ff3600;color:#fff}
#sod_fin_cancelfrm {display:none;margin:1em 0 0}
#sod_fin_cancelfrm .frm_input {background:#fff}

/* 주문상세내역 중 현금영수증 발급 */
#scash {}
#scash section {padding:1em 0}
#scash h2 {margin:0 0 1em;text-align:center}
#scash .basic_tbl th {padding:0 1em;border-top:1px solid #eee;border-bottom:1px solid #eee;background:#f5f6fa;text-align:left}
#scash_apply {padding:1em 0 1.8em;text-align:center}
#scash_apply button {padding:1em;border:0;background:#565e60;color:#fff}
#scash_copy {text-align:center}

/* 상품검색 */
#ssch{margin:0 0 2em}
#ssch_ov {padding:15px 0;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;background:#f5f6fa;text-align:center}
.ssch_ul {margin:0;padding:0;list-style:none}
.ssch_ul li {padding:1em;min-height:100px;border-bottom:1px solid #e9e9e9}
.ssch_ul .sit_icon {display:inline-block}
.ssch_img {float:left;margin:0 1em 0 0}
.ssch_cost {display:block;margin:0.5em 0 0}

/* 쇼핑몰 이벤트 */
#sev {}
.sev_admin {text-align:right}

/* 화면낭독기 사용자용 */
#hd_login_msg {position:absolute;top:0;left:0;width:1px;height:1px;overflow:hidden}
.msg_sound_only, .sound_only {display:inline-block !important;position:absolute;top:0;left:0;margin:0 !important;padding:0 !important;font-size:0;line-height:0;border:0 !important;overflow:hidden !important}
/* 본문 바로가기 */
#skip_to_container a {z-index:100000;position:absolute;top:0;left:0;width:1px;height:1px;overflow:hidden}
#skip_to_container a:focus, #skip_to_container a:active {width:100%;height:75px;background:#21272e;color:#fff;font-size:1.5em;font-weight:bold;text-align:center;text-decoration:none;line-height:3.3em}

/* 이미지 등비율 리사이징 */
.img_fix {width:100%;height:auto}

/* 캡챠 자동등록(입력)방지 기본 */
#captcha img {border:1px solid #cfded8;border-right:0}
#captcha_mp3 img {border:1px solid #cfded8;border-left:0;background:#494949}
#mp3_embed {position:absolute;top:0;left:0;width:1px;height:1px;overflow:hidden} /* 익스 8 이하에서 음성캡챠 실행 스타일 */

/* Mobile화면으로 */
#mobile_cng {display:block;margin:0.3em;padding:0.5em 0;border:1px solid #eee;border-radius:2em;background:#fff;color:#000;font-size:2em;text-decoration:none;text-align:center}

/* ckeditor 단축키 */
.cke_sc {margin:0 0 0.5em;text-align:right}
.btn_cke_sc{display:inline-block;padding:0 1em;height:23px;border:1px solid #ccc !important;background:#fafafa !important;color:#000 !important;text-decoration:none !important;line-height:1.9em;vertical-align:middle}
.cke_sc_def {margin:0 0 0.5em;padding:1em;border:1px solid #ccc;background:#f5f6fa;text-align:center}
.cke_sc_def dl {margin:0 0 0.5em;text-align:left;zoom:1}
.cke_sc_def dl:after {display:block;visibility:hidden;clear:both;content:""}
.cke_sc_def dt, .cke_sc_def dd {float:left;margin:0;padding:0.5em 0;border-bottom:1px solid .e9e9e9}
.cke_sc_def dt {width:20%;font-weight:bold}
.cke_sc_def dd {width:30%}

/* 콘텐츠별 스타일 */
.cnt_cmt {display:inline-block;margin:0 0 0 0.3em;font-weight:bold}
/* 버튼 */
.btn01 {display:inline-block;padding:0 0.5em;height:2em;border:1px solid #ccc !important;background:#fafafa !important;color:#000 !important;font-size:1em;text-decoration:none !important;line-height:2em;vertical-align:middle}
.btn01:focus, .btn01:hover {text-decoration:none !important}
.btn02 {display:inline-block;padding:0 0.5em;height:2em;border:1px solid #333 !important;background:#333 !important;color:#fff !important;font-size:1em;text-decoration:none !important;line-height:2em;vertical-align:middle}
.btn02:focus, .btn02:hover {text-decoration:none !important}
.btn_confirm {text-align:center} /* 서식단계 진행 */
.btn_submit {padding:0 1em;height:2.6em;border:1px solid #333;background:#333;color:#fff;font-size:1em;letter-spacing:-0.1em;vertical-align:top;cursor:pointer;-webkit-appearance:none}
.btn_cancel {display:inline-block;padding:0 1em;height:2.6em;border:1px solid #ccc;background:#fafafa;color:#000;font-size:1em;text-decoration:none;line-height:2.6em}
.btn_frmline {display:inline-block;padding:0 0.3em;height:1.9em;border:0;background:#333;color:#fff !important;letter-spacing:-0.1em;text-decoration:none;vertical-align:middle;line-height:1.9em} /* 우편번호검색버튼 등 */
.btn_win {clear:both;margin-bottom:1.5em;text-align:center} /* 새창용 */
.btn_win a {display:inline-block;padding:0 1em;height:2.5em;border:1px solid #ccc;background:#fafafa;color:#000;text-decoration:none;vertical-align:middle;line-height:2.5em;cursor:pointer}
/* 게시판용 버튼 */
.btn_b01 {display:inline-block;margin:0 0 0.3em;padding:0 1em;border:1px solid #eee !important;background:#fafafa !important;color:#000 !important;text-decoration:none !important;line-height:2em;vertical-align:middle}
.btn_b01:focus, .btn_b01:hover {text-decoration:none !important}
.btn_b02 {display:inline-block;margin:0 0 0.3em;padding:0 1em;border:1px solid #eee !important;background:#fafafa !important;color:#000 !important;text-decoration:none !important;line-height:2em;vertical-align:middle}
.btn_b02:focus, .btn_b02:hover {text-decoration:none !important}
.btn_admin {display:inline-block;margin:0 0 0.3em;padding:0 1em;border:1px solid #e8180c !important;background:#e8180c !important;color:#fff !important;text-decoration:none !important;line-height:2em;vertical-align:middle} /* 관리자 전용 버튼 */
.btn_admin:focus, .btn_admin:hover {text-decoration:none !important}

/* 기본테이블 */
.basic_tbl {margin-bottom:1em;width:100%;border-collapse:collapse;border-spacing:0}
.basic_tbl caption {padding:0 0 1em;color:#777;text-align:left}
.basic_tbl thead th {padding:0.5em 0;background:#565e60;color:#fff}
.basic_tbl thead a {color:#fff}
.basic_tbl thead th input {vertical-align:top} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
.basic_tbl tfoot th {border-top:1px solid #666;border-bottom:1px solid #666;background:#484848;color:#fff}
.basic_tbl tfoot td {border-color:#666;background:#484848;color:#fff;font-weight:bold;text-align:center}
.basic_tbl td {border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;line-height:1.5em;word-break:break-all}
.basic_tbl a {display:block;padding:0.5em;color:#000;text-decoration:none}
.bo_sideview td {} /* 사이드뷰 사용하는 테이블 셀 패딩값 */
td.empty_table {padding:5em 0;text-align:center}

/* 필수입력 */
.required {background:url('../img/wrest.gif') #f7f7f7 top right no-repeat !important}

/* 폼 테이블 */
.frm_tbl {margin-bottom:1.5em;width:100%;border-collapse:collapse;border-spacing:0}
.frm_tbl caption {padding:1em;color:#4b8b99;font-weight:bold;text-align:left}
.frm_tbl th {padding-left:1em;width:110px;border-top:1px solid #eee;border-bottom:1px solid #eee;font-weight:normal;text-align:left}
.frm_tbl td {padding:0.4em 0.5em;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;background:transparent}
.frm_tbl textarea, .frm_input {border:1px solid #b8c9c2;background:#f7f7f7;vertical-align:middle;line-height:1.8em;-webkit-appearance:none}
.frm_tbl textarea {width:90%;height:10em}
.frm_address {display:block;margin-top:0.3em}
.frm_file {display:block;margin-bottom:0.3em}
.frm_tbl #captcha {margin:0;padding:0;border:0;background:transparent}
.frm_tbl #captcha input {margin-left:0.3em;text-align:center}
.frm_tbl a {text-decoration:none}

.frm_info {display:block;padding:0.3em 0 0;color:#666;line-height:1.3em}

/* 테이블 그리드 padding 0 5px 고려한 넓이 */
.grid_1 {width:40px}
.grid_2 {width:90px}
.grid_3 {width:140px}
.grid_4 {width:190px}
.grid_5 {width:240px}
.grid_6 {width:290px}
.grid_7 {width:340px}
.grid_8 {width:390px}
.grid_9 {width:440px}
.grid_10 {width:490px}
.grid_11 {width:540px}
.grid_12 {width:590px}
.grid_13 {width:640px}
.grid_14 {width:690px}
.grid_15 {width:740px}
.grid_16 {width:790px}
.grid_17 {width:840px}
.grid_18 {width:890px}

/* 테이블 항목별 정의 */
.td_chk {width:50px;text-align:center}
.td_group {width:100px;text-align:center}
.td_board {width:120px;text-align:center}
.td_smallstat {width:50px;text-align:center}
.td_num {width:50px;text-align:center}
.td_bignum {width:120px;text-align:center}
.td_mb_id {width:100px;text-align:center}
.td_nick {width:100px;text-align:center}
.td_name {width:100px;text-align:left}
.td_smallname {width:100px;text-align:left}
.td_date {width:50px;text-align:center}
.td_datetime {width:170px;text-align:center}
.td_smallmng {width:50px;text-align:center}
.td_mng {width:80px;text-align:center}
.td_stat {text-align:center}

/* 새창 기본 스타일 */
.new_win {}
.new_win h1 {margin-bottom:2em;padding:0 2em;height:60px;border-top:3px solid #4e5d60;border-bottom:1px solid #e9e9e9;background:#fff;font-size:1.2em;line-height:5em}
.new_win table {margin:0 auto 2em !important;width:93% !important;background:#fff !important}
.new_win_ul {margin:-2em 0 2em 0;padding:0 0 0 2em;border-bottom:1px solid #455255;background:#484848;list-style:none;zoom:1}
.new_win_ul:after {display:block;visibility:hidden;clear:both;content:""}
.new_win_ul li {float:left;margin-left:-1px}
.new_win_ul a {display:block;padding:1em 1em 0.7em;border-right:1px solid #455255;border-left:1px solid #455255;color:#fff;font-family:"dotum";font-weight:bold;text-decoration:none}
.new_win_desc {margin:0 auto;width:93%}

/* 자바스크립트 alert 대안 */
#validation_check {margin:100px auto;width:500px}
#validation_check h1 {margin-bottom:2em;font-size:1.3em}
#validation_check p {margin-bottom:2em;padding:3em 2em;border:1px solid #e9e9e9;background:#fff}

/* 사이드뷰 */
.sv_wrap {display:inline-block;position:relative;font-weight:normal}
.sv_wrap .sv {z-index:1000;display:none;margin:0.5em 0 0;border:1px solid #283646;background:#111}
.sv_wrap .sv a {display:inline-block !important;margin:0 !important;padding:0.3em !important;width:94px;border-bottom:1px solid #283646;color:#fff !important}
.sv_wrap a:focus,
.sv_wrap a:hover,
.sv_wrap a:active {text-decoration:none !important}
.sv_on {display:block !important;position:absolute;top:1em;left:2em;width:auto;height:auto !important}
.sv_nojs .sv {display:block}

/* pagination */
.pg_wrap {clear:both;margin:0 0 1em;padding-top:1em;text-align:center}
.pg {display:inline-block;border:1px solid #cfded8;letter-spacing:-4px}
.pg a:focus, .pg a:hover, .pg a:active {text-decoration:none}
.pg_page, .pg_current, .qa_page {display:inline-block;padding:0 0.6em;color:#000;letter-spacing:0;line-height:1.9em;vertical-align:middle}
.pg_page, .qa_page {background:#f9f9f9;text-decoration:none}
.pg_start, .pg_prev, .qa_start, .qa_prev {border-right:1px solid #cfded8}
.pg_end, .pg_next, .qa_end, .qa_next {border-left:1px solid #cfded8}
.pg_current {background:#333;color:#fff;font-weight:bold}