@charset "utf-8";
/* 인기검색어 */
#popular {padding:8px 0 0;}
#popular h2{display:inline-block;font-size:0.92em;color:#4b8bff;background:#fff;line-height:20px;padding:0 5px;border:1px solid #dcdcde;vertical-align:top}
#popular ul{display:inline-block;padding-top:5px;}
#popular ul:after {display:block;visibility:hidden;clear:both;content:""}
#popular li{height:13px;line-height:13px;border-left:1px solid #c3c3c3;padding:0 10px;float:left}
#popular li:first-child{border-left:0}
#popular li a:hover{color:#a22121;text-decoration:underline}
