@charset "utf-8";
/* 인기검색어 */
#popular {border-bottom:1px solid #e8e8e9;padding:20px 0}
#popular h2{font-size:1.083em;margin: 0 0 10px;}
#popular a{display:inline-block;height:22px;line-height:22px;background:#bbb;color:#fff;margin:2px 0;padding: 0 5px;border-radius:3px}
#popular a:hover{background:#47aba2}