/* 전체검색결과 스킨 */
#sch_result_detail {margin:0;padding:15px 0;border:0;text-align:right}
#sch_result {padding:10px 0 0 0;border-top:1px solid #cfded8;background:url('../img/sch_result_bg.jpg') repeat-y}
#sch_result ul {margin:0;padding:0;list-style:none}
#sch_result p {margin:5px 0;padding:0}
#sch_result_hd {margin:0;padding:0;zoom:1}
#sch_result_hd:after {display:block;visibility:hidden;clear:both;content:""}
#sch_result_hd dt {float:left;padding:10px 0 15px}
#sch_result_hd dd {float:right;margin:0;padding:10px 0 15px}
#sch_result_hd ul {float:left}
#sch_result_hd li {float:left;padding:0 10px;border-right:1px solid #cfded8}
#sch_result_bo {float:left;margin:-1px 0 0;padding:0;width:170px}
#sch_result_bo dt {margin:0;padding:0;border:0;font-size:0;line-height:0;overflow:hidden}
#sch_result_bo dd {margin:0;padding:0}
#sch_result_bo ul {margin-top:1px}
#sch_result_bo li {position:relative;margin-top:-1px;height:40px}
#sch_result_bo a {position:absolute;padding:0 10px;width:149px;height:40px;border:1px solid #618588;border-right:0;background:#151515;color:#fff;text-decoration:none;line-height:3.4em}
#sch_result_bo .sch_on {width:150px;border-color:#cfded8;border-right:0;background:#fff;color:#000;font-weight:bold}
#sch_result_bo .cnt_cmt {color:#fff}
#sch_result_bo .sch_on .cnt_cmt {color:#000}
#sch_result_atc {float:left;margin:-1px 0 0;padding:15px 25px;width:506px;border:1px solid #cfded8;background:#fff}
#sch_result_atc dt a {display:inline-block;margin-bottom:15px;color:#000;font-size:1.2em;font-weight:bold;text-decoration:none}
#sch_result_atc dd {margin:0 0 15px}
#sch_result_atc dd a {}
#sch_result_atc .sch_result_title {display:inline-block;margin-bottom:5px;font-size:1.1em;font-weight:bold;text-decoration:underline}
#sch_result_atc li {padding:13px 0;border-bottom:1px solid #f0f0f0}
#sch_result_atc p {padding:0 0 5px}
#sch_result_atc a {display:inline-block;margin:0 10px 0 0}
#sch_result_atc .cmt_def {display:inline-block;margin:0 10px 0 0}
.sch_more {padding:10px 0 15px;text-align:right}
.sch_more a {}
.sch_datetime {display:inline-block;margin-right:15px;color:#999}
.sch_word {font-weight:bold} /* 검색어 강조 */