@charset "utf-8";

#current_connect li{width:219px;background:#fff;float:left;border:1px solid #d8d8d8;margin-left:10px;margin-bottom:10px;text-align:center;position:relative}
#current_connect li:nth-child(4n+1){clear:both;margin-left:0}
#current_connect .crt_name {margin:20px;display:block}
#current_connect .crt_name img{ border-radius:50%;margin: 0 0 5px}
#current_connect .crt_lct{display:block;text-align:center;border-top:1px solid #ddd;padding:10px 5px;line-height:1.4em}
#current_connect .crt_lct a{color:#3ca1ff}
#current_connect .crt_num{position:absolute;top:10px;left:10px;color:#777;font-weight:bold}
#current_connect li.empty_li{width:100%;padding:200px 0 ;border:0;color:#666}