@charset "utf-8";
/* SIR 지운아빠 */

/* 아웃로그인 */
.ol {position:relative;margin:0 0 1em;padding:0 0.5em 0.5em;border-bottom:1px solid #e7f1ed}
.ol h2 {width:0;height:0;overflow:hidden}

#ol_before input[type=text],
#ol_before input[type=password] {display:block;margin-bottom:0.3em;padding:0;width:80%;height:1.8em;border:1px solid #b8c9c2;background:#f7f7f7;vertical-align:middle;line-height:1.8em;-webkit-appearance:none}
#ol_before input[type=submit] {position:absolute;top:0em;right:0.5em;padding:0 !important;width:18%;height:4em;border:0;background:#333;color:#fff;letter-spacing:-0.1em;vertical-align:top;cursor:pointer;-webkit-appearance:none}
#ol_svc {margin:0.5em 0;text-align:right}
#ol_svc a {display:inline-block;margin:0 0 0 0.5em;color:#000;text-decoration:none;vertical-align:middle}

#ol_after_hd strong {display:inline-block;padding:0 0 0.5em}
#ol_after_hd .btn_admin {display:block;padding:0 !important;width:100%;text-align:center}
#ol_after_private {margin:0;padding:0;list-style:none}
#ol_after_private:after {display:block;visibility:hidden;clear:both;content:""}
#ol_after_private li {float:left}
#ol_after_memo {width:30%}
#ol_after_pt {width:40%}
#ol_after_scrap {width:30%}
#ol_after_private a {display:block;height:3em;background:#f7f7f7;color:#000;text-decoration:none;text-align:center;line-height:3em}
#ol_after_private a strong {color:#000;font-weight:normal}
#ol_after_private a:nth-of-type(1) {border-right:1px solid #fff}
#ol_after_private a:nth-of-type(2) {border-right:1px solid #fff}
#ol_after_ft {margin-top:0.5em;text-align:right}
#ol_after_ft a {display:inline-block;padding:0 2em;height:2em;background:#333;color:#fff;text-decoration:none;text-align:center;line-height:2em}