
/* ##### maint.(nn).skin.php, list.(nn).skin.php 공통 적용 시작 ##### */
/* 공통 */
.sct_wrap {margin:0 0 30px;zoom:1}
.sct_wrap:after {display:block;visibility:hidden;clear:both;content:""}
.sct_wrap header {margin:0 0 20px;zoom:1}
.sct_wrap header:after {display:block;visibility:hidden;clear:both;content:""}
.sct_wrap h2 {float:left;margin:0 20px 0 0;padding:0;line-height:1em}
.sct_wrap h2 a {text-decoration:none}
.sct_wrap_hdesc {float:left;margin:0;padding:0;color:#777;line-height:1em}

.sct {margin:0;padding:0;list-style:none;zoom:1;clear:both}
.sct:after {display:block;visibility:hidden;clear:both;content:""}
.sct_li {position:relative}
.sct_noitem {padding:100px 0;text-align:center}

.sct_more {margin:30px 0 0}
.sct_more a {display:block;padding:10px 0;background:#383838;color:#fff;font-weight:bold;text-align:center}

/* 상품 목록 스킨 10 */
.sct_10 .sct_li {float:left;padding:0 25px 15px 0;}
.sct_10 .sct_last {margin:0 0 15px !important}
.sct_10 .sct_clear {clear:both}
.sct_10 .sct_a {display:block;position:relative;text-decoration:none}
.sct_10 .sct_a:focus, .sct_10 .sct_a:hover {text-decoration:none}
.sct_10 .sct_img {display:block;margin:0 0 15px}
.sct_10 b {display:block;margin:0 0 8px;font-weight:normal}
.sct_10 s {display:block}
.sct_10 .sct_cost {display:block;margin:0 0 10px;font-weight:bold}
.sct_10 .sct_icon {}
.sct_10 .sct_icon img {}
.sct_10 .sct_sns {position:absolute;top:190px;right:20px}

/* 상품 목록 스킨 11 */
.sct_11 .sct_li {float:left;margin:0 25px 15px 0;}
.sct_11 .sct_last {margin:0 0 15px !important}
.sct_11 .sct_clear {clear:both}
.sct_11 .sct_a {display:block;position:relative;padding:0 0 5px;background:#f5f6fa;text-decoration:none}
.sct_11 .sct_a:focus, .sct_11 .sct_a:hover {text-decoration:none}
.sct_11 .sct_img {display:block;margin:0 0 15px}
.sct_11 b {display:block;margin:0 0 8px;padding:0 5px;font-weight:normal}
.sct_11 s {display:block}
.sct_11 .sct_cost {display:block;margin:0 0 10px;padding:0 5px;font-weight:bold}
.sct_11 .sct_icon {position:absolute;top:10px;left:-5px;margin:0 !important}
.sct_11 .sct_icon img {display:block}
.sct_11 .sct_sns {position:absolute;bottom:10px;right:10px}

/* 상품 목록 스킨 12 */
.sct_12 .sct_li {float:left;margin:0 16px 15px 0;}
.sct_12 .sct_last {margin:0 0 15px !important}
.sct_12 .sct_clear {clear:both}
.sct_12 .sct_arw_toleft {display:block;z-index:2;position:absolute;top:20px;left:221px;width:10px;height:19px;background:url('../img/shop/icon_arw_toleft.gif') no-repeat}
.sct_12 .sct_a {display:block;position:relative;padding:20px 10px 20px 240px;width:110px;height:190px;border:1px solid #e9e9e9;background:#f5f6fa;text-decoration:none}
.sct_12 .sct_a:focus, .sct_12 .sct_a:hover {text-decoration:none}
.sct_12 .sct_img {position:absolute;top:0;left:0}
.sct_12 b {display:block;margin:0 0 15px;font-size:1.2em;letter-spacing:-0.1em}
.sct_12 p {margin:0 0 15px;padding:0;line-height:1.5em}
.sct_12 s {display:block}
.sct_12 .sct_cost {display:block;margin:0 0 10px;font-weight:bold}
.sct_12 .sct_icon {position:absolute;bottom:25px;left:-5px;margin:0 !important}
.sct_12 .sct_icon img {display:block}
.sct_12 .sct_sns {position:absolute;bottom:20px;right:10px}

/* 상품 목록 스킨 13 */
.sct_13 .sct_li {float:left;margin:0 0 16px 0;width:100%}
.sct_13 .sct_last {}
.sct_13 .sct_clear {clear:both}
.sct_13 .sct_arw_toleft {display:block;z-index:2;position:absolute;top:20px;left:221px;width:10px;height:19px;background:url('../img/shop/icon_arw_toleft.gif') no-repeat}
.sct_13 .sct_a {display:block;position:relative;padding:20px 10px 20px 240px;height:190px;border:1px solid #e9e9e9;background:#f5f6fa;text-decoration:none}
.sct_13 .sct_a:focus, .sct_13 .sct_a:hover {text-decoration:none}
.sct_13 .sct_img {position:absolute;top:0;left:0}
.sct_13 b {display:block;margin:0 0 15px;font-size:1.2em;letter-spacing:-0.1em}
.sct_13 p {margin:0 0 15px;padding:0;line-height:1.5em}
.sct_13 s {display:block}
.sct_13 .sct_cost {display:block;margin:0 0 10px;font-weight:bold}
.sct_13 .sct_icon {position:absolute;bottom:25px;left:-5px;margin:0 !important}
.sct_13 .sct_icon img {display:block}
.sct_13 .sct_rel {position:absolute;bottom:20px;right:20px}
.sct_13 .sct_rel_ul {margin:0;padding:0;list-style:none}
.sct_13 .sct_rel_li {float:left;margin:0 0 0 10px}
.sct_13 .sct_sns {position:absolute;top:20px;right:20px}
/* ##### maint.(nn).skin.php, list.(nn).skin.php 공통 적용 끝 ##### */

/* 상품상세 */
#info_content {padding:0 0 50px;width:100%;height:100%;zoom:1}
#info_content:after {display:block;visibility:hidden;clear:both;content:""}
#menu_button {position:fixed;left:0;bottom:0;width:100%;height:40px;text-align:center}
#menu_button button {position:relative;margin:0;padding:0;width:20%;height:40px;border:0;background:transparent}
#menu_button button span {display:inline-block;position:absolute;top:0;left:0;width:100%;height:100%;background:url('img/arr_up01.gif') #000 center 15px no-repeat}
#menu_button button.menu_opened {background:#ff3061;color:#fff}
#menu_button button.menu_opened span {background:url('img/arr_down01.gif') #000 center 15px no-repeat}

#menu_list {position:fixed;left:0;bottom:0;width:100%;border-top:1px solid #000;background:#f0f1f2}
#menu_list ul {margin:0;padding:0;border:0}
#menu_list li {margin:0;padding:0;width:19%}
#menu_list li:nth-of-type(1) {width:15%}
#menu_list li:nth-of-type(4), #menu_list li:nth-of-type(5) {width:14%}
#menu_list a {display:block;padding:15px 0;border:0;border-right:1px solid #e9e9e9;font-size:0.95em;text-align:center;letter-spacing:-0.1em}
#menu_list a:focus, #menu_list a:hover {background:#f0f1f2;color:#000}
#menu_list li:nth-of-type(6) a {border:0}
#menu_list li:nth-last-of-type(1) {width:100%}
#menu_list button {margin:0;padding:15px 0;width:100%;border:0;border-top:1px solid #e9e9e9;background:#fff;color:#000}

.menu_hidden {display:none}

/* 로딩안내 레이어 */
#loading_message {z-index:10000;position:absolute;top:0;left:0;background:#fff;opacity:0.7}
#loading_message img {position:relative;opacity:1.0}

/* 알림 box */
#fancyalert {display:block;z-index:10000;position:absolute;top:0;left:0}
#fancyalert_inner {display:table;z-index:2;position:relative}
#fancyalert_inner div {display:table-cell;vertical-align:middle;text-align:center}
#fancyalert_inner span {display:block;margin:0 auto;padding:30px;width:200px;background:#1f1f1f;color:#f0f1f2}
#fancyalert_inner button {margin:15px 0 0;padding:10px 30px;border:0;background:#000;color:#fff}
#fancyalert_bg {z-index:0;position:absolute;top:0;left:0;width:100%;height:100%;vertical-align:middle;background:#000;text-align:center;opacity: 0.7}