@charset "utf-8";
/* SIR 지운아빠 */

/* ##### main(nn).skin.php, list.(nn).skin.php 공통 적용 시작 ##### */
/* 공통 */
.sct_wrap {margin:0 0 30px;zoom:1}
.sct_wrap:after {display:block;visibility:hidden;clear:both;content:""}
.sct_wrap header {margin:0 0 20px;zoom:1}
.sct_wrap header:after {display:block;visibility:hidden;clear:both;content:""}
.sct_wrap h2 {float:left;margin:0 20px 0 0;padding:0;line-height:1em}
.sct_wrap h2 a {text-decoration:none}
.sct_wrap_hdesc {float:left;margin:0;padding:0;color:#777;line-height:1em}

.sct {margin:0;padding:0;list-style:none;zoom:1}
.sct:after {display:block;visibility:hidden;clear:both;content:""}
.sct_li {position:relative}
.sct_noitem {padding:100px 0;text-align:center}
.sct img {position:relative} /* 리스트뷰 갤러리뷰 변경 시 ie6,7 에서 이미지 사라지는 문제 해결하기 위해 */
.sct_icon img {margin:0 1px 0 0}

/* 상품 목록 스킨 10 */
.sct_10 .sct_li {float:left;margin:0 25px 15px 0}
.sct_10 .sct_last {margin:0 0 15px !important}
.sct_10 .sct_clear {clear:both}
.sct_10 .sct_a {display:block;position:relative;text-decoration:none}
.sct_10 .sct_a:focus, .sct_10 .sct_a:hover {text-decoration:none}
.sct_10 .sct_img {display:block;margin:0 0 15px}
.sct_10 b {display:block;margin:0 0 8px;font-weight:normal}
.sct_10 s {display:block}
.sct_10 .sct_cost {display:block;margin:0 0 10px;font-weight:bold}
.sct_10 .sct_icon {}
.sct_10 .sct_icon img {}
.sct_10 .sct_sns {position:absolute;top:190px;right:20px}

/* 상품 목록 스킨 11 */
.sct_11 .sct_li {float:left;margin:0 25px 15px 0}
.sct_11 .sct_last {margin:0 0 15px !important}
.sct_11 .sct_clear {clear:both}
.sct_11 .sct_a {display:block;position:relative;padding:0 0 5px;background:#f5f6fa;text-decoration:none}
.sct_11 .sct_a:focus, .sct_11 .sct_a:hover {text-decoration:none}
.sct_11 .sct_img {display:block;margin:0 0 15px}
.sct_11 b {display:block;margin:0 0 8px;padding:0 5px;font-weight:normal}
.sct_11 s {display:block}
.sct_11 .sct_cost {display:block;margin:0 0 10px;padding:0 5px;font-weight:bold}
.sct_11 .sct_icon {position:absolute;top:10px;left:-5px;margin:0 !important}
.sct_11 .sct_icon img {display:block}
.sct_11 .sct_sns {position:absolute;bottom:10px;right:10px}

/* 상품 목록 스킨 12 */
.sct_12 .sct_li {float:left;margin:0 16px 15px 0}
.sct_12 .sct_last {margin:0 0 15px !important}
.sct_12 .sct_clear {clear:both}
.sct_12 .sct_arw_toleft {display:block;z-index:2;position:absolute;top:20px;left:221px;width:10px;height:19px;background:url('../shop/img/icon_arw_toleft.gif') no-repeat}
.sct_12 .sct_a {display:block;position:relative;padding:20px 10px 20px 240px;width:110px;height:190px;border:1px solid #e9e9e9;background:#f5f6fa;text-decoration:none}
.sct_12 .sct_a:focus, .sct_12 .sct_a:hover {text-decoration:none}
.sct_12 .sct_img {position:absolute;top:0;left:0}
.sct_12 b {display:block;margin:0 0 15px;font-size:1.2em;letter-spacing:-0.1em}
.sct_12 p {margin:0 0 15px;padding:0;line-height:1.5em}
.sct_12 s {display:block}
.sct_12 .sct_cost {display:block;margin:0 0 10px;font-weight:bold}
.sct_12 .sct_icon {position:absolute;bottom:25px;left:-5px;margin:0 !important}
.sct_12 .sct_icon img {display:block}
.sct_12 .sct_sns {position:absolute;bottom:20px;right:10px}

/* 상품 목록 스킨 13 */
.sct_13 .sct_li {float:left;margin:0 0 16px 0;width:100%}
.sct_13 .sct_last {}
.sct_13 .sct_clear {clear:both}
.sct_13 .sct_arw_toleft {display:block;z-index:2;position:absolute;top:20px;left:221px;width:10px;height:19px;background:url('../shop/img/icon_arw_toleft.gif') no-repeat}
.sct_13 .sct_a {display:block;position:relative;padding:20px 10px 20px 240px;height:190px;border:1px solid #e9e9e9;background:#f5f6fa;text-decoration:none}
.sct_13 .sct_a:focus, .sct_13 .sct_a:hover {text-decoration:none}
.sct_13 .sct_img {position:absolute;top:0;left:0}
.sct_13 b {display:block;margin:0 0 15px;font-size:1.2em;letter-spacing:-0.1em}
.sct_13 p {margin:0 0 15px;padding:0;line-height:1.5em}
.sct_13 s {display:block}
.sct_13 .sct_cost {display:block;margin:0 0 10px;font-weight:bold}
.sct_13 .sct_icon {position:absolute;bottom:25px;left:-5px;margin:0 !important}
.sct_13 .sct_icon img {display:block}
.sct_13 .sct_rel {position:absolute;bottom:20px;right:20px}
.sct_13 .sct_rel_ul {margin:0;padding:0;list-style:none}
.sct_13 .sct_rel_li {float:left;margin:0 0 0 10px}
.sct_13 .sct_sns {position:absolute;top:20px;right:20px}

/* 메인 상품 목록 스킨 20 */
.smt_20 {position:relative;height:306px;overflow-y:hidden}
.smt_20 .sct_li {position:absolute;top:306px;left:0;display:none}
.smt_20 .sct_li_first {top:0;display:block}
.smt_20 .sct_div {float:left;margin:0 25px 15px 0}
.smt_20 .sct_last {margin:0 0 15px !important}
.smt_20 .sct_a {display:block;position:relative;text-decoration:none}
.smt_20 .sct_a:focus, .smt_20 .sct_a:hover {text-decoration:none}
.smt_20 .sct_img {display:block;margin:0 0 15px}
.smt_20 b {display:block;margin:0 0 8px;font-weight:normal}
.smt_20 s {display:block}
.smt_20 .sct_cost {display:block;margin:0 0 10px;font-weight:bold}
.smt_20 .sct_icon {}
.smt_20 .sct_icon img {}
.smt_20 .sct_sns {position:absolute;top:190px;right:20px}

/* 메인 상품 목록 스킨 30 */
.smt_30 {position:relative;height:306px;overflow-x:hidden}
.smt_30 .sct_ul {position:absolute;top:0;left:765px;margin:0;padding:0;width:765px;list-style:none;zoom:1}
.smt_30 .sct_ul:after {display:block;visibility:hidden;clear:both;content:""}
.smt_30 .sct_ul_first {display:block;left:0}
.smt_30 .sct_li {float:left;margin-right:25px}
.smt_30 .sct_a {display:block;position:relative;text-decoration:none}
.smt_30 .sct_a:focus, .smt_30 .sct_a:hover {text-decoration:none}
.smt_30 .sct_img {display:block;margin:0 0 15px}
.smt_30 b {display:block;margin:0 0 8px;font-weight:normal}
.smt_30 s {display:block}
.smt_30 .sct_cost {display:block;margin:0 0 10px;font-weight:bold}
.smt_30 .sct_icon {}
.smt_30 .sct_icon img {}
.smt_30 .sct_sns {position:absolute;top:190px;right:20px}
.smt_30 .sct_sns a {display:inline-block;margin:0 0 0 2px}

/* 메인 상품 목록 스킨 40 */
.smt_40 {position:relative;height:306px}
.smt_40 .sct_li {display:none;position:absolute;top:0;left:0}
.smt_40 .sct_li_first {display:block}
.smt_40 .sct_div {float:left;margin:0 25px 15px 0}
.smt_40 .sct_last {margin:0 0 15px !important}
.smt_40 .sct_a {display:block;position:relative;text-decoration:none}
.smt_40 .sct_a:focus, .smt_40 .sct_a:hover {text-decoration:none}
.smt_40 .sct_img {display:block;margin:0 0 15px}
.smt_40 b {display:block;margin:0 0 8px;font-weight:normal}
.smt_40 s {display:block}
.smt_40 .sct_cost {display:block;margin:0 0 10px;font-weight:bold}
.smt_40 .sct_icon {}
.smt_40 .sct_icon img {}
.smt_40 .sct_sns {position:absolute;top:190px;right:20px}

/* 메인 상품 목록 스킨 50 */
.smt_50 {position:relative;height:306px}
.smt_50 .sct_li {display:none;position:absolute;top:0;left:0;height:306px;overflow-y:hidden}
.smt_50 .sct_li_first {display:block}
.smt_50 .sct_div {float:left;position:relative;top:-306px;margin:0 25px 15px 0}
.smt_50 .sct_last {margin:0 0 15px}
.smt_50 .sct_a {display:block;position:relative;text-decoration:none}
.smt_50 .sct_a:focus, .smt_50 .sct_a:hover {text-decoration:none}
.smt_50 .sct_img {display:block;margin:0 0 15px}
.smt_50 b {display:block;margin:0 0 8px;font-weight:normal}
.smt_50 s {display:block}
.smt_50 .sct_cost {display:block;margin:0 0 10px;font-weight:bold}
.smt_50 .sct_icon {}
.smt_50 .sct_icon img {}
.smt_50 .sct_sns {position:absolute;top:190px;right:20px}

/* ##### main(nn).skin.php, list.(nn).skin..php 공통 적용 끝 ##### */
