@charset "utf-8";

#bo_cate h2 {width:0;height:0;font-size:0;line-height:0;overflow:hidden}
#bo_cate ul {margin: 10px;padding-left:1px;zoom:1}
#bo_cate ul:after {display:block;visibility:hidden;clear:both;content:""} 
#bo_cate li{display:inline-block;float:left;margin:3px 5px 3px 0}
#bo_cate a {display:block;line-height:24px;padding:0 10px;border-radius:13px;background:#fff;}
#bo_cate #bo_cate_on {background:#4162ff;color:#fff;
-webkit-box-shadow:0 0 5px  rgba(65,98,255,0.8);
-moz-box-shadow:0 0 5px  rgba(65,98,255,0.8);
box-shadow: 0 0 8px  rgba(65,98,255,0.8);}

#faq_wrap {margin:10px 10px 60px}
#faq_wrap h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
.faq_admin {margin:0 5px;text-align:right}
#faq_wrap p {line-height:1.8em}
#faq_wrap ol {margin:0;padding:0;list-style:none}
#faq_wrap  li{margin:10px 0;background:#fff;border-radius:3px;
-webkit-box-shadow: 0 1px 4px #cbd1df;
   -moz-box-shadow: 0 1px 4px #cbd1df;
        box-shadow: 0 1px 4px #cbd1df;}
#faq_con h3{position:relative;padding-left:30px;}
#faq_con h3 a {display:block;padding:10px;}
#faq_con .faq_alp{position:absolute;top:10px;left:10px;display:inline-block;background:#333;border-radius:50%;width:20px;height:20px;line-height:20px;text-align:center;color:#fff}
#faq_con .faq_alp_a{background:#aaa}
#faq_con .con_inner {;position:relative;display:none;padding:10px;padding-left:40px;line-height:1.8em;border-top:1px solid #eee;}
#faq_con .con_closer {margin:10px 0 0;text-align:right}
#faq_con .closer_btn {margin:0;padding:0 5px;line-height:24px;border:0;background:#666;color:#fff}
.faq_tolist {padding:0 10px;text-align:right}
.faq_img {text-align:center}

#faq_sch {text-align:center;margin:10px;position:relative}
#faq_sch .frm_input {width:100%}
#faq_sch .btn_submit{position:absolute;top:0;right:0;width:40px;height:40px;background:none;color:#000;font-size:15px}