/* 회원가입 약관 */
#fregister section {margin:0 0 20px;padding:20px 0;border-bottom:3px solid #eee}
#fregister h2 {margin:0 0 20px;text-align:center}
#fregister textarea {display:block;margin-bottom:10px;padding:5px;width:98%;height:150px;border:1px solid #cfded8;background:#f7f7f7}
#fregister textarea:focus {background:#21272e;color:#fff}
.fregister_agree {padding:10px 0 0;text-align:right}
.fregister_agree label {display:inline-block;margin-right:5px}
#fregister p {color:#e8180c;text-align:center}
#fregister .btn_confirm {margin-bottom:20px}

/* 회원가입 입력 */
#fregisterform .cbg {margin-bottom:15px;padding:20px}
#fregisterform textarea {height:50px}

/* 회원가입 완료 */
#reg_result {padding:50px 0 0}
#reg_result_logo {margin-bottom:50px;text-align:center}
#reg_result_email {padding:10px 50px;border-top:1px solid #eee;border-bottom:1px solid #eee;background:#fff;line-height:2em}
#reg_result_email span {display:inline-block;width:150px}
#reg_result_email strong {color:#e8180c;font-size:1.2em}
#reg_result .btn_confirm {margin:50px 0}

/* 아이디/패스워드 찾기 */
#find_info #mb_hp_label {display:inline-block;margin-left:10px}
#find_info #captcha {margin:0 auto 20px;width:87%}
#find_info #captcha input {margin-left:5px}
#find_info_fs {margin:0 auto 20px;padding:10px 20px 15px;width:87%;border-right:1px solid #eee;border-bottom:1px solid #eee;background:#fff}

#find_info_result li {margin:0 0 5px}
#find_info_result span {display:inline-block;width:70px}
#find_info_result strong {color:#ff3061}
#find_info_result_wrap {margin:0 auto 20px;padding:10px 20px 15px;width:87%;border-right:1px solid #eee;border-bottom:1px solid #eee;background:#fff}

/* 로그인 */
#mb_login {margin:100px auto;width:500px}
#mb_login h1 {margin:0 0 20px;font-size:1.3em}
#mb_login h2 {margin:0}
#mb_login fieldset {position:relative;margin:0;padding:20px 20px 20px 95px;border:1px solid #cfded8;border-bottom:0;background:#fff}
#mb_login label {letter-spacing:-0.1em}
#mb_login .login_id {position:absolute;top:26px;left:95px}
#mb_login .login_pw {position:absolute;top:52px;left:95px}
#mb_login .frm_input {display:block;margin:0 0 5px 80px}
#mb_login .btn_submit {position:absolute;top:20px;left:335px;height:49px}
#mb_login section {margin:0 0 30px;padding:20px;border:1px solid #cfded8;background:#f7f7f2}
#mb_login section div {text-align:right}

/* 쪽지 */
#memo_view section {margin:0 auto 20px;padding:20px;width:87%}
#memo_view section h2 {width:1px;height:1px;font-size:0;line-height:0;overflow:hidden}
#memo_view_ul {margin:0;padding:0 0 10px;border-bottom:1px solid #eee;list-style:none}
.memo_view_li {position:relative;padding:5px 0}
.memo_view_subj {display:inline-block;width:65px}
#memo_view_ul a {}
#memo_view section p {padding:10px;min-height:150px;height:auto !important;height:150px;background:#fff}

#memo_write textarea {height:100px}

/* 스크랩 */
#scrap_do .cbg {margin:0 auto 20px;padding:20px;width:87%}
#scrap_do table {margin:0 0 10px;width:100%}
#scrap_do textarea {height:100px}

/* 회원 패스워드 확인 */
#mb_confirm {margin:100px auto;width:500px}
#mb_confirm h1 {margin:0 0 20px;font-size:1.3em}
#mb_confirm p {padding:20px;border:1px solid #cfded8;border-bottom:0;background:#fff}
#mb_confirm p strong {display:block}
#mb_confirm fieldset {margin:0 0 30px;padding:30px 0;border:1px solid #cfded8;background:#f7f7f2;text-align:center}
#mb_confirm label {letter-spacing:-0.1em}
#mb_confirm_id {display:inline-block;margin-right:20px;font-weight:bold}

/* 비밀글 패스워드 확인 */
#pw_confirm {margin:100px auto;width:500px}
#pw_confirm h1 {margin:0 0 20px;font-size:1.3em}
#pw_confirm p {padding:20px;border:1px solid #cfded8;border-bottom:0;background:#fff}
#pw_confirm p strong {display:block}
#pw_confirm fieldset {margin:0 0 30px;padding:30px 0;border:1px solid #cfded8;background:#f7f7f2;text-align:center}
#pw_confirm label {letter-spacing:-0.1em}
#pw_confirm_id {display:inline-block;margin-right:20px;font-weight:bold}

/* 폼메일 */
#formmail textarea {height:100px}

/* 자기소개 */
#profile table {margin-bottom:0}
#profile section {margin:0 auto 20px;padding:20px;width:86%}
#profile h2 {margin:0}

/* 우편번호 검색 */
#post_code fieldset {margin:0 auto 10px;padding:15px 10px;width:87%;text-align:center}
#post_code dl {margin:0 auto 10px;padding:20px 10px;width:87%;border-right:1px solid #eee;border-bottom:1px solid #eee;background:#fff}
#post_code dt {margin-bottom:15px;color:#000}
#post_code dd {margin:0;padding:0}
#post_code ul {margin:0;padding:0;list-style:none}
#post_code li a {display:block;padding:8px 0 6px;border-bottom:1px solid #eee}
#post_code p {margin:0 auto 30px;width:90%}
.post_code {display:inline-block;width:50px;color:#999}