@charset "utf-8";

/* LOGIN WRAP */
#mb_login {margin:0 auto;padding:100px 0;max-width:500px}
#mb_login h1 {margin:0 0 20px;font-size:1.3em}
#mb_login h2 {margin:0}
#mb_login p {padding:10px 0;line-height:1.5em}
#mb_login #login_fs {position:relative;margin:0;padding:20px 20px 20px 95px;border:1px solid #cfded8;border-bottom:0;background:#fff}
#mb_login #login_fs legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
#mb_login #login_fs label {letter-spacing:-0.1em}
#mb_login #login_fs .login_id {position:absolute;top:26px;left:95px}
#mb_login #login_fs .login_pw {position:absolute;top:52px;left:95px}
#mb_login #login_fs .frm_input {display:block;margin:0 0 5px 80px;width:162px}
#mb_login #login_fs .btn_submit {position:absolute;top:20px;right:95px;width:60px;height:53px}
#mb_login #login_info {margin:0 0 30px;padding:20px;border:1px solid #cfded8;background:#f5f6fa}
#mb_login #login_info div {text-align:right}

#mb_login_notmb {position:relative;margin:0 0 20px;padding:20px;border:1px solid #cfded8;background:#fff}
#mb_login_notmb #guest_privacy {margin:0 0 10px;padding:10px;height:150px;border:1px solid #e9e9e9;overflow:auto}
#mb_login_notmb .btn_confirm {padding:10px 0 0}

#mb_login_od {position:relative;margin:0;padding:20px 20px 20px 95px;border:1px solid #cfded8;border-bottom:0;background:#fff}
#mb_login_od legend {position:absolute;font-size:0;line-height:0;overflow:hidden}
#mb_login_od label {letter-spacing:-0.1em}
#mb_login_od .od_id {position:absolute;top:26px;left:95px}
#mb_login_od .od_pwd {position:absolute;top:52px;left:95px}
#mb_login_od .frm_input {display:block;margin:0 0 5px 80px}
#mb_login_od .btn_submit {position:absolute;top:20px;left:335px;width:52px;height:49px}
#mb_login_odinfo {margin:0 0 30px;padding:20px;border:1px solid #cfded8;background:#f5f6fa}
#mb_login_odinfo div {text-align:right}

.social_info_guide{background:#f3f3f3;border:1px solid #ddd;margin:0 10px 10px;padding:10px 15px;line-height:1.5em}
.bg-warning{margin:0 10px 10px;padding:10px 15px;line-height:1.5em}
.bg-warning1{background:#f7dfe4;border:1px solid #eac3cb}
.bg-warning2{background:#deeabf;border:1px solid #bde498}
.bg-warning3{background:#fff8dc;border:1px solid #f1e4b2}

/* LOGIN WRAP 640px*/
@media screen and (max-width: 40.000em){
    #mb_login {margin:0 auto;padding:20px 0;}
    #mb_login h1 {margin:0 0 15px;padding:0 10px;}

    #mb_login #login_fs {padding:10px;}
    #mb_login #login_fs .login_id,
    #mb_login #login_fs .login_pw {display:block;position:inherit;top:0px;left:0}
    #mb_login #login_fs .frm_input {margin:0 0 5px 0;width:60%}
    #mb_login #login_fs .btn_submit {top:24px;right:10px;width:35%;height:67px}

    #mb_login_notmb {margin:30px 0;padding:15px 10px;border:1px solid #cfded8;background:#f7f7f7}
    #mb_login_notmb .btn_confirm {margin:20px 0 0;text-align:right}

    #mb_login_od {margin:20px 5px;}
    #mb_login_od .frm_input {margin-bottom:5px;padding:0;width:80%;height:1.8em;line-height:1.8em}
    #mb_login_od .btn_submit {position:absolute;top:0;right:0;padding:0 !important;width:18%;height:4em !important;text-align:center}
}

/* SNS LOGIN */
.sns-wrap {margin:10px 0 0;text-align:center}
.sns-icon {display:inline-block;vertical-align:middle;text-decoration:none}
.sns-icon:hover {text-decoration:none}
.sns-icon .ico {display:block;background:url('./img/sns_logo.png') no-repeat;vertical-align:middle}
.sns-icon .txt {position:absolute;line-height:0;font-size:0;vertical-align:middle;overflow:hidden}
.sns-icon .txt i {font-style:normal}

.reg-form .sns-wrap {margin:0;text-align:left}
.reg-form .sns-icon {display:inline-block;vertical-align:middle;text-decoration:none}
.reg-form .sns-icon:hover {text-decoration:none}
.reg-form .sns-icon .ico {display:block;background:url('./img/sns_logo.png') no-repeat;vertical-align:middle}
.reg-form .sns-icon-not .ico {display:block;background:url('./img/sns_logo_not.png') no-repeat;vertical-align:middle}
.reg-form .sns-icon .txt {position:absolute;line-height:0;font-size:0;vertical-align:middle;overflow:hidden}
.reg-form .sns-icon .txt i {font-style:normal}

/* SNS by COLOR */
.sns-wrap-org .sns-naver {border-color:#18a400;background:#2db400}
.sns-wrap-org .sns-naver .ico {background-position:-29px 0; }
.sns-wrap-org .sns-google {border-color:#ca2c19;background:#dd5443}
.sns-wrap-org .sns-google .ico {background-position:-58px 0}
.sns-wrap-org .sns-facebook {border-color:#2e5393;background:#3a5897}
.sns-wrap-org .sns-facebook .ico {background-position:0 0 }

.sns-wrap-over .sns-icon {border-color:#dcdcdc}
.sns-wrap-over .sns-icon-not {border-color:#8b8b8b}
.sns-wrap-over .sns-naver{border-color:#18a400}
.sns-wrap-over .sns-naver .ico {background-position:-29px 0; }
.sns-wrap-over .sns-google .ico {background-position:-58px 0}
.sns-wrap-over .sns-google {border-color:#ca2c19}
.sns-wrap-over .sns-facebook .ico {background-position:0 0 }
.sns-wrap-over .sns-facebook {border-color:#2e5393}
.sns-wrap-over .sns-kakao .ico {background-position:-87px 0}
.sns-wrap-over .sns-twitter {border-color:#488FC9}
.sns-wrap-over .sns-twitter .ico {background-position:-145px 0}
.sns-wrap-over .sns-payco {border-color:#C44646}
.sns-wrap-over .sns-payco .ico {background-position:-116px 0}
.sns-wrap-over .sns-kakao {border-color:#f2df00}
.reg-form .sns-icon-not {border-color:#8b8b8b}

/* SNS by SIZE */
.sns-wrap-32 .sns-icon {border-width:1px;border-style:solid;overflow:hidden;margin:0 1px}
.sns-wrap-32 .sns-icon .txt {display:inline-block;margin:0 10px 0 0;font-size:0.95em;letter-spacing:-0.1em}
.sns-wrap-32 .sns-icon .ico {width:24px;height:24px}