@charset "utf-8";

/* 최근게시물 스킨 (latest) */
.lt {position:relative;margin:10px 0}
.lt .lt_title {display:block;font-size:1.3em;padding:15px 15px 10px;line-height:24px;background:#fff}
.lt ul {list-style:none;background:#fff;border-bottom:1px solid #e5ecee}
.lt ul li {padding:0 15px;}
.lt ul li:hover {background:#fafafa}
.lt .lt_tit {display:block;font-size:1.2em;font-weight:bold;padding:10px 0}
.lt .lt_info {position:relative;border-bottom:1px solid #e5ecee;line-height:20px;color:#828282;font-size:0.925em;padding:5px 0 10px;vertical-align:top}
.lt ul li:last-child .lt_info {border-bottom:0}
.lt .lt_date {color:#828282}

.lt .lt_more {position:absolute;top:15px;right:15px;color:#3a8afd;background:#fff;border:1px solid #d1d7e5;border-radius:3px;padding:3px}
.lt .lt_cmt {background:#e9eff5;color:#3a8afd;font-size:11px;height:16px;line-height:16px;padding:0 5px;border-radius:3px;vertical-align:middle}

.lt .profile_img img {border-radius:50%;vertical-align:top}
.lt li .fa-lock {display:inline-block;line-height:14px;width:16px;font-size:0.833em;color:#4f818c;background:#cbe3e8;text-align:center;border-radius:2px;font-size:12px;border:1px solid #cbe3e8;vertical-align:middle}
.lt li .fa-download {display:inline-block;width:16px;line-height:16px;font-size:0.833em;color:#daae37;background:#ffefb9;text-align:center;border-radius:2px;vertical-align:middle}
.lt li .fa-link {display:inline-block;width:16px;line-height:16px;font-size:0.833em;color:#b451fd;background:#edd3fd;text-align:center;border-radius:2px;vertical-align:middle}
.lt li .hot_icon {display:inline-block;width:16px;line-height:16px;font-size:0.833em;color:#ff0000;background:#ffb9b9;text-align:center;border-radius:2px;vertical-align:middle}
.lt li .fa-heart {color:#ff0000}
.lt li .new_icon {display:inline-block;width:16px;line-height:16px;font-size:0.833em;color:#23db79;background:#b9ffda;text-align:center;border-radius:2px;margin-left:2px;font-weight:bold;vertical-align:middle}
.lt .lt_tit .fa-heart {color: #fe4560}

.lt .comment_icon {background:url(./img/icon_comment.png) no-repeat 50% 50% ;display:inline-block;width:20px;height:28px;text-indent:-999px;overflow:hidden;vertical-align:top;background-size:70%;margin:0 0px 0 5px}
.lt .empty_li {text-align:center;padding:40px 0;color:#777}
