@charset "utf-8";
/* SIR 지운아빠 */

/* 최근게시물 스킨 (latest) */
.lt {position:relative;margin:0 0 10px;padding:0 10px 15px;border-bottom:1px solid #ddd}
.lt ul {margin:0 0 10px;padding:0;list-style:none}
.lt li {padding:3px 0}
.lt a {display:block;color:#000;text-decoration:none}
.lt .lt_title {display:inline-block;padding:10px 0}
.lt .lt_more {position:absolute;top:10px;right:10px}
.lt .cnt_cmt {display:inline-block;margin:0 0 0 3px;font-weight:bold}