/* 최근게시물 스킨 (latest) */
.lat {position:relative;margin:0 0 1em;padding:0 1em 1.5em;border-bottom:1px solid #ddd}
.lat ul {margin:0 0 1em;padding:0;list-style:none}
.lat li {padding:0.2em 0}
.lat a {color:#000;text-decoration:none}
.lat_title {display:block;padding:1em 0}
.lat_more {position:absolute;top:1em;right:1em}