@charset "utf-8";

/* 아웃로그인 스킨 */
.ol {position:relative;border-bottom:1px solid #f3f3f3;padding:20px}
.ol h2 {margin:0;padding:0;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden}

.ol a.btn_admin {display:inline-block;padding:0 10px;height:25px;background:#d13f4a;color:#fff;text-decoration:none;line-height:25px;vertical-align:middle} /* 관리자 전용 버튼 */
.ol a.btn_admin:focus, .ol a.btn_admin:hover {text-decoration:none}

#ol_before {}
#ol_before fieldset {position:relative}
#ol_id {display:block;width:100%;margin:5px 0 10px;}
.ol_idlabel {color:#333;}
#ol_pw {display:block;;width:100%;margin:5px 0;}
.ol_pwlabel {color:#333;}
#auto_login {}
#auto_login_label {letter-spacing:-0.1em}
#ol_submit {width:100%;height:40px;border:0;border-radius:3px;color:#fff;font-weight:bold}
#ol_before a {letter-spacing:-0.15em}
#ol_svc {text-align:center;margin:10px 0 0}
#ol_svc a{display:inline-block;color:#333;margin:0 5px}
#ol_auto {position:relative;margin:5px 0;font-size:0.92em;color:#555}
#ol_auto label {letter-spacing:-0.1em}
#ol_auto input {width:13px;height:13px;vertical-align:bottom} 

#ol_after {}
#ol_after_hd {margin:0 0 10px;text-align:center}
#ol_after_hd strong{display:block}
#ol_after_hd .profile_img{margin:20px 0 10px;display:inline-block;position:relative;}
#ol_after_hd .profile_img img{border-radius:50%}
#ol_after_hd .profile_img  a{display:block;position:absolute;bottom:-5px;right:-5px;width:30px;height:30px;line-height:30px;border-radius:50%;background:#fff;font-size:14px}
#ol_after_hd .btn_admin {position:absolute;top:20px;right:20px;border-radius:3px;;;text-align:center}
#ol_after_private {margin:0 0 3px;zoom:1}
#ol_after_private:after {display:block;visibility:hidden;clear:both;content:""}
#ol_after_private li {margin-bottom:1px;position:relative;float:left;width:33.333%;text-align:center}
#ol_after_private a {display:block;color:#444;background:#ecf0f1;padding: 10px;line-height:20px;height:60px}
#ol_after_private li:nth-child(even) a{background:#e5e9ea}
#ol_after_private a strong {display:block;color:#ff6f6f}
#ol_after_private li a:hover{background:#bec3c7}
#ol_after_memo {;margin-right:1px}
#ol_after_pt {margin-right:1px}
#ol_after_logout{display:block;height:40px;font-size:1.083em;line-height:38px;text-align:center;font-weight:bold;border-radius:3px;margin:10px 0 0px}
