/* 설문조사 스킨 */
#poll {}
#poll header {position:relative;padding:15px 0 0 14px}
#poll h2 {}
#poll header .btn_admin {margin-top:5px;width:158px;text-align:center}
#poll header p {padding:5px 0 0}
#poll ul {margin:0 0 10px;padding:5px 14px;list-style:none}
#poll li {padding:3px 0}
#poll footer {padding:0 0 14px 14px}
#poll footer input {width:95px;height:24px;border:0;background:#333;color:#fff;letter-spacing:-0.1em;vertical-align:top;cursor:pointer}
#poll footer a {display:inline-block;width:95px;height:22px;border:1px solid #ccc;background:#fafafa;text-align:center;line-height:2em}
#poll footer a:focus,
#poll footer a:hover {text-decoration:none !important}
/* 설문조사 결과 (새창) */
#poll_result section {padding:15px;width:87%;border-right:1px solid #eee;border-bottom:1px solid #eee;background:#fff}
#poll_result h2 {margin:0;padding:20px 0}
#poll_result a {}
#poll_result .sv_member,
#poll_result .sv_guest {font-weight:bold}
#poll_result_list {margin:0 auto 20px}
#poll_result_list h2 {text-align:center}
#poll_result_list dl,
#poll_result_list dt,
#poll_result_list dd {margin:0;padding:0}
#poll_result_list dl {padding-bottom:30px}
#poll_result_list dt {margin-right:5%;color:#e8180d;text-align:right}
#poll_result_list ol {margin:0;padding-left:30px}
#poll_result_list li {margin-top:10px}
#poll_result_list p {position:relative;margin:0;padding:5px 0}
#poll_result_list p strong {position:absolute;top:5px;right:5%;padding-right:80px;width:100px;text-align:right}
#poll_result_list p span {position:absolute;top:5px;right:5%;width:80px;color:#68999c;text-align:right}
.poll_result_graph {position:relative;margin-right:5%;height:5px;background:#eee}
.poll_result_graph span {position:absolute;top:0;left:0;height:5px;background:#565e60;font-size:0.1em}
#poll_result_cmt {margin:0 auto 20px}
#poll_result_cmt h2 {text-align:center}
#poll_result_cmt h3 {margin:0 auto 10px;padding-top:15px;width:93%}
#poll_result_cmt article {margin:0 18px 15px;border-bottom:1px solid #eee}
#poll_result_cmt h1 {margin:0;padding:0;height:0;border:0;font-size:0;line-height:0;overflow:hidden}
.poll_datetime {display:inline-block;margin-left:10px}
#poll_result_cmt p {padding:3px 0}
#poll_result_cmt fieldset {margin-bottom:0;text-align:left}
#poll_result_cmt fieldset p {margin:0 0 15px;padding:3px 0 0px;text-align:left}
#poll_result_cmt footer {text-align:right}
#poll_result_wcmt {margin-bottom:10px;width:93%}
.poll_cmt_del a {display:inline-block;padding-bottom:10px}
#poll_result_oth {margin:0 auto 20px}
#poll_result_oth h2 {padding:0 0 10px}
#poll_result_oth ul {margin:0;padding:0;list-style:none}
#poll_result_oth a {display:block;padding:10px 0;border-bottom:1px solid #eee}