@charset "utf-8";
/* SIR 지운아빠 */

#visit {background:#444}
#visit div {zoom:1}
#visit div:after {display:block;visibility:hidden;clear:both;content:""}
#visit h2 {float:left;padding:0.5em;color:#fff}
#visit dl {float:left;margin:0 0 0 0.5em;padding:0}
#visit dt {float:left;margin:0;padding:0.5em 0.1em 0.5em 0;color:#fff}
#visit dd {float:left;margin:0 1em 0 0;padding:0.5em 0.1em;color:#fff}
#visit a {display:inline-block;padding:0.5em 0.1em;color:#fff;text-decoration:none}
#visit a:focus,
#visit a:hover {background:#333;color:#fff}