@charset "utf-8";
#visit {background:#444;}

#visit div {zoom:1;}

#visit div:after {
display:block;
visibility:hidden;
clear:both;
content:"";
}

#visit h2 {
float:left;
padding:10px;
color:#fff;
}

#visit dl {
float:left;
margin:0 0 0 10px;
padding:0;
}

#visit dt {
float:left;
margin:0;
padding:10px;
color:#fff;
}

#visit dd {
float:left;
margin:0 3px 0 0;
padding:10px 5px;
color:#fff;
}

#visit a {
display:inline-block;
padding:10px 3px;
color:#fff;
text-decoration:none;
}

#visit a:focus, #visit a:hover {
background:#333;
color:#fff;
}

