@charset "utf-8";
/* SIR 지운아빠 */

/* 인기검색어 */
#popular {background:#515151}
#popular div {zoom:1}
#popular div:after {display:block;visibility:hidden;clear:both;content:""}
#popular h2 {float:left;padding:0.5em;color:#fff}
#popular ul {float:left;list-style:none}
#popular li {float:left}
#popular a {display:inline-block;padding:0.5em;color:#fff;text-decoration:none}
#popular a:focus,
#popular a:hover {background:#333;color:#fff}