@charset "utf-8";
/* SIR 지운아빠 */

/* 인기검색어 */
#popular {border-bottom:1px dotted #dde4e9}
#popular div {zoom:1}
#popular div:after {display:block;visibility:hidden;clear:both;content:""}
#popular h2 {float:left;padding:10px 5px 10px 10px}
#popular ul {float:left;margin:0 0 0 10px;padding:0;list-style:none}
#popular li {float:left}
#popular a {display:inline-block;padding:10px 5px;text-decoration:none}