@charset "utf-8";
/* SIR 지운아빠 */

/* 공통 */
body {margin:0;padding:0;background:url('img/pat01.png') #edf0f4;font-size:0.75em;font-family:dotum,helvetica}
input, img, select, button {font-size:1em;vertical-align:middle}
label {vertical-align:middle}

#ins_bar {margin:0 0 50px;padding:20px 30px;background:#383838;color:#a1a4a7;font-family:tahoma,helvetica;font-size:1.500em;zoom:1}
#ins_bar:after {display:block;visibility:hidden;clear:both;content:""}
#ins_bar #bar_img {float:left}
#ins_bar #bar_txt {float:right}

h1 {margin:0 0 30px;text-align:center}

.ins_inner {margin:0 30px 50px;padding:20px 30px;border-right:1px solid #dde4e9;border-bottom:1px solid #dde4e9;background:#fff}
.ins_inner ul {margin:20px 0;padding:0 0 0 13px}
.ins_inner ol {margin:20px 0;padding:0 0 0 18px}
.ins_inner ol li {margin:0 0 5px}
.ins_inner p strong {color:red}
.ins_inner .inner_btn {margin:30px 0 0;text-align:right}
.ins_inner .inner_btn a, .ins_inner .inner_btn input {display:inline-block;padding:10px 20px;background:#ff347d;color:#fff;text-decoration:none}
.ins_inner .inner_btn input {border:0;cursor:pointer}

.ins_frm {margin:0 0 30px;width:100%;border:0;border-collapse:collapse}
.ins_frm caption {padding:10px 0;font-weight:bold;text-align:left}
.ins_frm th, .ins_frm td {padding:5px 3px;border-top:1px solid #dde4e9;border-bottom:1px solid #dde4e9}
.ins_frm th {width:25%;background:#f2f5f9}
.ins_frm td span {display:block;margin:5px 0 0;font-size:0.917em;letter-spacing:-0.1em}

.ins_ta {padding:5px 0;border:1px solid #dde4e9;text-align:center}
.ins_ta textarea {border:0;padding:0;width:99%;height:250px;background:transparent}
.ins_license {background:#f2f5f9}

#ins_ft {color:#a1a4a7;font-family:tahoma,helvetica;text-align:center}
#ins_ft strong {font-size:1.500em;font-weight:normal}

/* 라이센스 확인 1/3 */
#ins_agree {padding:10px 0 0;text-align:right}